Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer

  # Frontend hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, json, yaml, markdown]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

  # Backend hooks
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        files: ^backend/
        args:
          ["--settings-path", "backend/pyproject.toml", "--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config", "backend/pyproject.toml"]
        language_version: python3.13

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^backend/
        exclude: /migrations/
        args: ["--toml-config", "backend/pyproject.toml"]
        additional_dependencies: [flake8-pyproject]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "cd backend && poetry run mypy ."
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Security and Docker hooks - run manually when needed
  # detect-secrets scan --baseline .secrets.baseline
  # hadolint Dockerfile

  # Testing hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c "cd backend && poetry run pytest"
        language: system
        pass_filenames: false
        files: ^backend/
        always_run: false
        stages: [pre-commit]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c "cd frontend && npm test -- --watchAll=false"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

fix(gallery): Fix travel highlights modal image rendering and deep linking
  backend/astrophotography/admin.py
  backend/astrophotography/migrations/0010_mainpagelocationtranslation_highlight_title.py
  backend/astrophotography/models.py
  backend/astrophotography/serializers.py
  backend/astrophotography/views.py
  backend/celerybeat-schedule
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  backend/core/static/core/css/admin_expandable.css
  backend/core/static/core/js/admin_expandable_fields.js
  backend/translation/services.py
  frontend/src/__tests__/TravelHighlightsPage.test.tsx
  frontend/src/api/imageUrlService.ts
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/ImageModal.tsx
  frontend/src/store/useStore.ts
  frontend/src/types/index.ts
Due: prettier, eslint, backend-tests

refactor(core): Implement theme-inherited RangeWidget and standardize across project
  backend/astrophotography/admin.py
  backend/astrophotography/apps.py
  backend/astrophotography/forms.py
  backend/astrophotography/locale/pl/LC_MESSAGES/django.mo
  backend/astrophotography/locale/pl/LC_MESSAGES/django.po
  backend/astrophotography/models.py
  backend/astrophotography/tests/test_admin.py
  backend/conftest.py
  backend/core/apps.py
  backend/core/forms.py
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/core/static/core/css/admin_date_clean.css
  backend/core/static/core/js/admin_expandable_fields.js
  backend/core/widgets.py
  backend/inbox/apps.py
  backend/inbox/models.py
  backend/programming/apps.py
  backend/programming/models.py
  backend/settings/base.py
  backend/settings/tests.py
  backend/translation/fixtures.py
  backend/users/apps.py
  backend/users/models.py
Due: backend-tests

Version update
  VERSION
Due: none

Fix/production fixes for release 1.1.1 (#85)
  VERSION
  backend/astrophotography/admin.py
  backend/astrophotography/apps.py
  backend/astrophotography/forms.py
  backend/astrophotography/locale/pl/LC_MESSAGES/django.mo
  backend/astrophotography/locale/pl/LC_MESSAGES/django.po
  backend/astrophotography/migrations/0010_mainpagelocationtranslation_highlight_title.py
  backend/astrophotography/models.py
  backend/astrophotography/serializers.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/views.py
  backend/celerybeat-schedule
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  backend/conftest.py
  backend/core/apps.py
  backend/core/forms.py
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/core/static/core/css/admin_date_clean.css
  backend/core/static/core/css/admin_expandable.css
  backend/core/static/core/js/admin_expandable_fields.js
  backend/core/widgets.py
  backend/inbox/apps.py
  backend/inbox/models.py
  backend/programming/apps.py
  backend/programming/models.py
  backend/settings/base.py
  backend/settings/tests.py
  backend/translation/fixtures.py
  backend/translation/services.py
  backend/users/apps.py
  backend/users/models.py
  frontend/src/__tests__/TravelHighlightsPage.test.tsx
  frontend/src/api/imageUrlService.ts
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/ImageModal.tsx
  frontend/src/store/useStore.ts
  frontend/src/types/index.ts
Due: prettier, eslint, backend-tests

ref(monitoring): Modernize email architecture and test suite
  .gitignore
  backend/celerybeat-schedule
  backend/celerybeat-schedule-shm
  backend/celerybeat-schedule-wal
  backend/common/llm/factory.py
  backend/common/llm/providers.py
  backend/common/services.py
  backend/common/tasks.py
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/monitoring/agents.py
  backend/monitoring/apps.py
  backend/monitoring/services.py
  backend/monitoring/tasks.py
  backend/monitoring/templates/monitoring/email/log_analysis.html
  backend/monitoring/tests/conftest.py
  backend/monitoring/tests/factories.py
  backend/monitoring/tests/llm_mock_response.json
  backend/monitoring/tests/test_email.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_tasks.py
  backend/settings/base.py
  backend/translation/services.py
Due: backend-tests

feat(astrophotography): Squash migrations and refactor secure media urls
  backend/astrophotography/management/commands/seed_regions.py
  backend/astrophotography/migrations/0011_fix_mainpagelocation_sequence.py
  backend/astrophotography/migrations/0011_place_is_region_place_sub_places_and_more.py
  backend/astrophotography/migrations/0012_add_place_is_region.py
  backend/astrophotography/migrations/0013_alter_tagtranslation_slug.py
  backend/astrophotography/migrations/0014_alter_mainpagelocationtranslation_highlight_title.py
  backend/astrophotography/migrations/0015_alter_mainpagelocation_adventure_date.py
  backend/astrophotography/migrations/0016_place_region_relations.py
  backend/astrophotography/migrations/0017_mainpagelocation_unique_place_adventure_date.py
  backend/astrophotography/migrations/0018_remove_mainpagelocation_unique_place_adventure_date_and_more.py
  backend/astrophotography/serializers.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/urls.py
  backend/astrophotography/views.py
  backend/common/serializers.py
  backend/common/utils/signing.py
Due: backend-tests

fix(ci): Resolve frontend type errors and backend test FileNotFoundError
  backend/astrophotography/serializers.py
  backend/monitoring/agents.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_email.py
  backend/monitoring/tests/test_services.py
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/ImageModal.test.tsx
Due: prettier, eslint, backend-tests

fix(ci): Resolve CodeQL arbitrary substring injection with bound regex
  backend/monitoring/tests/test_email.py
Due: backend-tests

fix(security): resolve npm audit vulnerabilities (qs, minimatch)
  frontend/package-lock.json
  frontend/package.json
Due: prettier

refactor(llm): remove pydantic-style checks from GPTProvider
  backend/common/llm/providers.py
Due: backend-tests

refactor: cleanup duplicate celery setting and align llm providers
  backend/settings/base.py
Due: backend-tests

fix(test): resolve race condition in AstroGallery loading state and complete API mocks
  VERSION
  frontend/src/__tests__/AstroGallery.test.tsx
Due: prettier, eslint

feat(frontend): Migrate to Vite build system
  frontend/.babelrc
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/__tests__/Analytics.test.tsx
  frontend/src/components/TravelHighlights.tsx
  frontend/src/components/common/GalleryCard.tsx
  frontend/src/setupTests.ts
  frontend/src/styles/components/TravelHighlights.module.css
  frontend/src/utils/env.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: prettier, eslint

feat: Add SEO and PWA support (Phase 4)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/scripts/generate-sitemap.ts
  frontend/src/App.tsx
  frontend/src/HomePage.tsx
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/SEO.tsx
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Due: prettier, eslint

fix: Add missing PWA icons
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
Due: none

feat: Move sitemap generation architecture to backend
  backend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-sitemap.ts
Due: prettier, eslint, backend-tests

feat(frontend): Alienate Doppler variables to VITE_ prefixes in compose to satisfy Vite security natively
  docker-compose.prod.yml
  frontend/README.md
  frontend/e2e/fixtures.ts
  frontend/e2e/gallery.spec.ts
  frontend/e2e/homepage.spec.ts
  frontend/e2e/travel-highlights.spec.ts
  frontend/public/sitemap.xml
  frontend/src/__tests__/Programming.test.tsx
  frontend/src/components/Gallery.tsx
  frontend/src/components/Programming.tsx
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/GalleryCard.tsx
  frontend/src/components/common/Skeleton.tsx
  frontend/src/components/skeletons/GallerySkeleton.tsx
  frontend/src/components/skeletons/ProjectSkeleton.tsx
  frontend/src/styles/components/Skeleton.module.css
  package-lock.json
  package.json
  scripts/release/build.sh
Due: prettier, eslint

fix(frontend): Restore SITE_DOMAIN to Dockerfile and update metadata injector to use VITE variables
  frontend/Dockerfile
  scripts/frontend/inject-metadata.sh
Due: none

refactor(frontend): Move VITE environment aliasing natively into Dockerfile
  frontend/Dockerfile
  scripts/release/build.sh
Due: none

docs(frontend): Update README with Vite and TanStack Query details, preserving test sections
  frontend/README.md
Due: prettier

docs(frontend): Restore TODOs and refactor env.ts for DRYness
  frontend/README.md
  frontend/src/utils/env.ts
Due: prettier, eslint

feat(frontend): Finalize modernization and implement DRY environment variables
  frontend/Dockerfile
  frontend/README.md
  frontend/src/utils/env.ts
  frontend/src/vite-env.d.ts
Due: prettier, eslint

fix(security): Fix XSS vulnerability and harden Nginx frontend environment
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/src/components/About.tsx
Due: prettier, eslint

version update
  VERSION
Due: none

fix(security/ui): Bind internal ports to localhost and fix header layout
  docker-compose.prod.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles/components/TravelHighlightsPage.module.css
Due: prettier

feat: Infrastructure hardening, monitoring decoupling, and UI enhancements
  .gitignore
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  docker-compose.prod.yml
  frontend/public/default-travel.jpg
  frontend/src/api/constants.ts
  frontend/src/components/MainLayout.tsx
  frontend/src/components/Programming.tsx
  frontend/src/index.tsx
  frontend/src/styles/components/Programming.module.css
  nginx/nginx.conf
  nginx/prod/TEMPLATE.conf
  scripts/monitoring/README.md
  scripts/monitoring/collect-logs.sh
  scripts/monitoring/portfolio-collect-logs.cron
Due: prettier, eslint, backend-tests

chore(deps): lock python dependencies to safer caret syntax and bump updates
  .github/workflows/quality-checks.yml
  backend/poetry.lock
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
Due: prettier, backend-tests

fix: Resolve CodeQL unclosed file warning and CI workflow failures
  .github/workflows/quality-checks.yml
  backend/monitoring/services.py
Due: backend-tests

fix(deps): Resolve high-severity frontend vulnerabilities
  VERSION
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Fix/small fixes and changes (#99)
  .github/workflows/quality-checks.yml
  .gitignore
  VERSION
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/default-travel.jpg
  frontend/src/api/constants.ts
  frontend/src/components/MainLayout.tsx
  frontend/src/components/Programming.tsx
  frontend/src/index.tsx
  frontend/src/styles/components/Programming.module.css
  frontend/src/styles/components/TravelHighlightsPage.module.css
  nginx/nginx.conf
  nginx/prod/TEMPLATE.conf
  scripts/monitoring/README.md
  scripts/monitoring/collect-logs.sh
  scripts/monitoring/portfolio-collect-logs.cron
Due: prettier, eslint, backend-tests

fix(ci): bypass empty trivy repository by using docker image
  .github/workflows/quality-checks.yml
  backend/README.md
  frontend/README.md
Due: prettier, backend-tests

fix(infra): Resolve nginx deployment crash and frontend CI warnings
  docker-compose.prod.yml
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat(admin): Revamp Jazzmin UI, fix theme toggles, and restore custom timer
  backend/core/static/core/css/admin_sidebar.css
  backend/core/static/core/css/select2_admin.css
  backend/core/templates/admin/base_site.html
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  docker-compose.prod.yml
Due: backend-tests

refactor(astrophotography): reorganize tests and add strict type hints
  backend/DEFAULT.env
  backend/common/llm/providers.py
  backend/core/static/core/css/admin_date_clean.css
  backend/core/static/core/css/select2_admin.css
  backend/core/templates/admin/base_site.html
  backend/monitoring/agent/__init__.py
  backend/monitoring/agent/agent.py
  backend/monitoring/agent/context.py
  backend/monitoring/agent/skills.py
  backend/monitoring/agents.py
  backend/monitoring/migrations/0004_loganalysis_gpt_cost_usd_loganalysis_nginx_logs.py
  backend/monitoring/models.py
  backend/monitoring/services.py
  backend/monitoring/templates/monitoring/email/log_analysis.html
  backend/monitoring/tests/conftest.py
  backend/monitoring/tests/llm_responses/attack.json
  backend/monitoring/tests/llm_responses/default.json
  backend/monitoring/tests/test_agents.py
  backend/monitoring/tests/test_context.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_skills.py
  backend/monitoring/tests/test_tasks.py
  backend/settings/base.py
Due: backend-tests

ref(scripts): Generalize deployment scripts and stabilize staging environment
  backend/core/views.py
  backend/settings/base.py
  docker-compose.stage.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/scripts/inject-metadata.sh
  frontend/vite.config.ts
  nginx/prod/TEMPLATE.conf
  nginx/stage/TEMPLATE.conf
  nginx/stage/generate-certs.sh
  nginx/stage/generate-stage-cert.sh
  nginx/stage/local.conf
  nginx/stage/ssl/ca.crt
  nginx/stage/ssl/server.crt
  nginx/stage/ssl/server.key
  scripts/release/README.md
  scripts/release/build.sh
  scripts/release/deploy.sh
  scripts/release/release.sh
  scripts/release/utils.sh
Due: prettier, eslint, backend-tests

Docker compose changes
  docker-compose.yml
Due: none
