Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer

  # Frontend hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, json, yaml, markdown]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

  # Backend hooks
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        files: ^backend/
        args:
          ["--settings-path", "backend/pyproject.toml", "--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config", "backend/pyproject.toml"]
        language_version: python3.13

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^backend/
        exclude: /migrations/
        args: ["--toml-config", "backend/pyproject.toml"]
        additional_dependencies: [flake8-pyproject]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "cd backend && poetry run mypy ."
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Security and Docker hooks - run manually when needed
  # detect-secrets scan --baseline .secrets.baseline
  # hadolint Dockerfile

  # Testing hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c "cd backend && poetry run pytest"
        language: system
        pass_filenames: false
        files: ^backend/
        always_run: false
        stages: [pre-commit]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c "cd frontend && npm test -- --watchAll=false"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

ci-cd fix
  backend/astrophotography/static/astrophotography/js/admin_upload_progress.js
Due: backend-tests

feat(admin): Improve AstroImage upload feedback and translation diagnostics
  AGENTS.md
  README.md
  VERSION
  backend/astrophotography/static/astrophotography/css/admin_upload_progress.css
  backend/astrophotography/static/astrophotography/js/admin_upload_progress.js
  backend/astrophotography/templates/admin/astrophotography/secure_media_change_form.html
  backend/astrophotography/tests/test_admin.py
  backend/translation/agents.py
  backend/translation/services.py
  backend/translation/tests/test_tasks.py
  infra/docs/agent/implementation_process.md
  infra/docs/project/translation_system_overview.md
  infra/scripts/monitoring/README.md
  infra/scripts/monitoring/collect-logs.sh
Due: backend-tests

feat(inbox): Add sender auto-reply and contact email simulation controls
  backend/common/throttling.py
  backend/inbox/services.py
  backend/inbox/tasks.py
  backend/inbox/templates/inbox/email/contact_auto_response.html
  backend/inbox/tests/conftest.py
  backend/inbox/tests/test_services.py
  backend/inbox/tests/test_views.py
  backend/settings/base.py
  docker-compose.yml
  frontend/src/__tests__/Contact.test.tsx
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/bff.ts
Due: prettier, eslint, backend-tests

feat(inbox): Add owner email template for contact notifications
  README.md
  backend/inbox/tasks.py
  backend/inbox/templates/inbox/email/contact_owner_notification.html
  backend/inbox/tests/conftest.py
  backend/inbox/tests/test_services.py
Due: backend-tests

feat(inbox): Add templated contact emails and sender auto-reply
  README.md
  backend/common/throttling.py
  backend/inbox/services.py
  backend/inbox/tasks.py
  backend/inbox/templates/inbox/email/contact_auto_response.html
  backend/inbox/templates/inbox/email/contact_owner_notification.html
  backend/inbox/tests/conftest.py
  backend/inbox/tests/test_services.py
  backend/inbox/tests/test_views.py
  backend/settings/base.py
  docker-compose.yml
  frontend/src/__tests__/Contact.test.tsx
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/bff.ts
Due: prettier, eslint, backend-tests

fix(infra): Harden Traefik fail2ban probe blocking
  docker/traefik/entrypoint.sh
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/production-release/fail2ban_probe_blocking.md
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/traefik.yml
Due: none

fix(infra): Harden Traefik and fail2ban probe blocking
  docker/traefik/entrypoint.sh
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/production-release/fail2ban_probe_blocking.md
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/traefik.yml
Due: none

feat(astrophotography): Add paginated infinite gallery loading
  backend/astrophotography/admin.py
  backend/astrophotography/pagination.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/views.py
  backend/core/tests/test_caching.py
  backend/settings/tests.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/server/mediaNormalization.js
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/__tests__/mediaNormalization.test.ts
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/services.ts
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useAstroImages.ts
  frontend/src/setupTests.ts
  frontend/src/styles/components/AstroGallery.module.css
  frontend/src/styles/components/GalleryCard.module.css
  frontend/src/styles/components/Navbar.module.css
  frontend/src/styles/global/index.css
  frontend/src/types/index.ts
Due: prettier, eslint, backend-tests

fixed github templates + VERSION update
  .github/dev_to_main_template.md
  .github/feature_to_dev_template.md
  .github/pull_request_template.md
  VERSION
Due: none

Dependabot fixes.
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .github/workflows/release.yml
  AGENTS.md
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
Due: prettier, backend-tests

Dependabot fixes.
  .github/dependabot.yml
  backend/poetry.lock
  backend/pyproject.toml
Due: backend-tests

feat(astrophotography): Add paginated infinite gallery loading
  .github/dependabot.yml
  .github/dev_to_main_template.md
  .github/feature_to_dev_template.md
  .github/pull_request_template.md
  .github/workflows/ci-cd.yml
  .github/workflows/release.yml
  AGENTS.md
  VERSION
  backend/astrophotography/admin.py
  backend/astrophotography/pagination.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/views.py
  backend/core/tests/test_caching.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/tests.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/server/mediaNormalization.js
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/__tests__/mediaNormalization.test.ts
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/services.ts
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useAstroImages.ts
  frontend/src/setupTests.ts
  frontend/src/styles/components/AstroGallery.module.css
  frontend/src/styles/components/GalleryCard.module.css
  frontend/src/styles/components/Navbar.module.css
  frontend/src/styles/global/index.css
  frontend/src/types/index.ts
Due: prettier, eslint, backend-tests

fixed ci-cd
  .github/PULL_REQUEST_TEMPLATE/dev_to_main.md
  .github/PULL_REQUEST_TEMPLATE/feature_to_dev.md
  .github/dev_to_main_template.md
  .github/feature_to_dev_template.md
  .github/workflows/ci-cd.yml
Due: none

npm audit fx
  frontend/package-lock.json
Due: prettier

version update
  VERSION
Due: none

ci-cd fix
  backend/monitoring/tests/test_services.py
Due: backend-tests

feat/fix(core): Adds landing stats from images and simplify monitoring flow
  AGENTS.md
  backend/astrophotography/forms.py
  backend/astrophotography/locale/pl/LC_MESSAGES/django.po
  backend/astrophotography/migrations/0016_astroimage_calculated_exposure_hours.py
  backend/astrophotography/models.py
  backend/astrophotography/signals.py
  backend/astrophotography/tests/test_models.py
  backend/core/agent_assets/prompts/landing_page_total_time_spent_system.md
  backend/core/management/commands/recalculate_landing_page_total_time_spent.py
  backend/core/serializers.py
  backend/core/services.py
  backend/core/tasks.py
  backend/core/tests/test_landing_page_total_time_spent.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
  backend/settings/base.py
  backend/settings/tests.py
  collector/portfolio-log-collector.cron
  collector/src/log_collector/main.py
  collector/src/log_collector/services.py
  collector/src/log_collector/types.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/src/__tests__/About.test.tsx
  frontend/src/__tests__/Tooltip.test.tsx
  frontend/src/api/__tests__/services.test.ts
  frontend/src/components/About.tsx
  frontend/src/components/common/Tooltip.module.css
  frontend/src/components/common/Tooltip.tsx
  frontend/src/setupTests.ts
  frontend/src/styles/components/About.module.css
  frontend/src/types/index.ts
  infra/docs/project/landing_page_total_time_spent_system.md
  infra/docs/project/monitoring_system_overview.md
Due: prettier, eslint, backend-tests

version update and version update
  VERSION
  backend/core/tasks.py
Due: backend-tests

Total exposure system cleanup.
  backend/astrophotography/locale/pl/LC_MESSAGES/django.mo
  backend/astrophotography/models.py
  backend/astrophotography/signals.py
  backend/astrophotography/tasks.py
  backend/core/management/commands/recalculate_landing_page_total_time_spent.py
  backend/core/tasks.py
  backend/core/tests/test_landing_page_total_time_spent.py
  backend/pyproject.toml
  infra/docs/project/landing_page_total_time_spent_system.md
Due: backend-tests

Total exposure system cleanup.
  backend/astrophotography/admin.py
  backend/astrophotography/agent/__init__.py
  backend/astrophotography/agent/agent.py
  backend/astrophotography/agent/assets/prompts/astroimage_exposure_time_system.md
  backend/astrophotography/models.py
  backend/astrophotography/protocols.py
  backend/astrophotography/serializers.py
  backend/astrophotography/services.py
  backend/astrophotography/tasks.py
  backend/astrophotography/types.py
  backend/astrophotography/views.py
  backend/core/services.py
  backend/core/tests/test_landing_page_total_time_spent.py
  infra/docs/project/landing_page_total_time_spent_system.md
Due: backend-tests

added new tests
  backend/core/tests/test_landing_page_total_time_spent.py
Due: backend-tests

feat(frontend): Add placeholder shop page
  backend/astrophotography/management/commands/recalculate_landing_page_total_time_spent.py
  backend/core/tests/test_landing_page_total_time_spent.py
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/src/App.tsx
  frontend/src/__tests__/Navbar.test.tsx
  frontend/src/__tests__/Shop.test.tsx
  frontend/src/api/constants.ts
  frontend/src/components/Navbar.tsx
  frontend/src/components/Shop.tsx
  frontend/src/setupTests.ts
  frontend/src/styles/components/Shop.module.css
  infra/docs/project/NEW/example.ts
  infra/docs/project/landing_page_total_time_spent_system.md
  infra/scripts/release/deploy.sh
Due: prettier, eslint, backend-tests

feat(shop): Implement backend shop module and fix configurations
  .pre-commit-config.yaml
  backend/core/admin.py
  backend/core/cache_service.py
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/core/migrations/0005_landingpagesettings_shop_enabled.py
  backend/core/models.py
  backend/core/serializers.py
  backend/pyproject.toml
  backend/settings/base.py
  backend/shop/__init__.py
  backend/shop/admin.py
  backend/shop/apps.py
  backend/shop/locale/pl/LC_MESSAGES/django.po
  backend/shop/management/__init__.py
  backend/shop/management/commands/__init__.py
  backend/shop/management/commands/import_shop_products.py
  backend/shop/migrations/0001_initial.py
  backend/shop/migrations/__init__.py
  backend/shop/models.py
  backend/shop/signals.py
  backend/shop/templates/admin/shop/shopproduct/robust_change_form.html
  backend/shop/tests/__init__.py
  backend/shop/tests/factories.py
  backend/shop/tests/test_admin.py
  backend/shop/tests/test_models.py
  backend/shop/tests/test_signals.py
  backend/shop/tests/test_tasks.py
  backend/translation/services.py
  collector/portfolio-log-collector.cron
Due: backend-tests

npm audit fix
  frontend/package-lock.json
  frontend/package.json
Due: prettier

version update and scripts fixe
  VERSION
  backend/astrophotography/static/astrophotography/js/admin_upload_progress.js
  backend/core/signals.py
  backend/shop/templates/admin/shop/shopsettings/robust_change_form.html
  backend/shop/tests/test_admin.py
  backend/shop/tests/test_views.py
  infra/scripts/README.md
  infra/scripts/release/deploy.sh
  infra/scripts/release/deploy_staging.sh
Due: backend-tests

Refactored FE - added feature flag mechanism + added sitemaps for /shop
  AGENTS.md
  backend/core/sitemaps.py
  backend/core/tests/test_sitemaps.py
  backend/settings/urls.py
  frontend/src/App.tsx
  frontend/src/__tests__/FeatureRoutes.test.tsx
  frontend/src/__tests__/Navbar.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProgrammingRoute.tsx
  frontend/src/components/ShopRoute.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useFeatureFlag.ts
  frontend/src/types/index.ts
  infra/docs/project/feature_flag_mechanism.md
Due: prettier, eslint, backend-tests

Fixed FE settings
  frontend/src/hooks/useSettings.ts
Due: prettier, eslint

ci/cd fixes
  backend/astrophotography/static/astrophotography/js/admin_upload_progress.js
  frontend/src/__tests__/FeatureRoutes.test.tsx
Due: prettier, eslint, backend-tests

Finalize feature-flagged routes and release flow fixes
  AGENTS.md
  VERSION
  backend/astrophotography/static/astrophotography/js/admin_upload_progress.js
  backend/core/signals.py
  backend/core/sitemaps.py
  backend/core/tests/test_sitemaps.py
  backend/settings/urls.py
  backend/shop/templates/admin/shop/shopsettings/robust_change_form.html
  backend/shop/tests/test_admin.py
  backend/shop/tests/test_views.py
  frontend/src/App.tsx
  frontend/src/__tests__/FeatureRoutes.test.tsx
  frontend/src/__tests__/Navbar.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProgrammingRoute.tsx
  frontend/src/components/ShopRoute.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useFeatureFlag.ts
  frontend/src/hooks/useSettings.ts
  frontend/src/types/index.ts
  infra/docs/project/feature_flag_mechanism.md
  infra/scripts/README.md
  infra/scripts/release/deploy.sh
  infra/scripts/release/deploy_staging.sh
Due: prettier, eslint, backend-tests

fix(seo): Align sitemap and SSR metadata with public routes
  AGENTS.md
  backend/astrophotography/admin.py
  backend/shop/forms.py
  backend/shop/templates/admin/shop/shopproduct/robust_change_form.html
  backend/shop/tests/test_admin.py
  frontend/README.md
  frontend/index.html
  frontend/server/documentRender.js
  frontend/src/__tests__/PrivacyPolicy.test.tsx
  frontend/src/__tests__/Programming.test.tsx
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/NotFoundPage.tsx
  frontend/src/components/PrivacyPolicy.tsx
  frontend/src/components/Programming.tsx
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/SEO.tsx
  frontend/src/routing/publicRoutes.ts
  frontend/src/utils/html.ts
  infra/docs/project/NEW/example.ts
Due: prettier, eslint, backend-tests

CodeQL fix
  frontend/src/utils/html.ts
Due: prettier, eslint
