Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c "cd backend && poetry run pytest"
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

ci-cd fix
  frontend/package-lock.json
Due: prettier

Prepare landingpage for MCP routing
  VERSION
  backend/core/sitemaps.py
  backend/core/tests/test_sitemaps.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  frontend/package-lock.json
  infra/scripts/README.md
  infra/traefik/dynamic_conf.yml
Due: prettier, backend-tests

fix(security): Harden probe blocking and media caching
  .gitignore
  AGENTS.md
  backend/api_tests.http
  backend/astrophotography/tests/test_views.py
  backend/core/tests/test_admin_media_urls.py
  backend/core/views.py
  backend/inbox/middleware.py
  backend/inbox/tests/test_middleware.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_admin.py
  backend/settings/base.py
  backend/settings/urls.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  frontend/package-lock.json
  frontend/src/__tests__/pwaBuildOptions.test.ts
  frontend/src/components/AstroGallery.tsx
  frontend/src/utils/pwaBuildOptions.ts
  frontend/vite.config.ts
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/nginx/static_server.conf
  infra/scripts/README.md
  infra/scripts/security/fail2ban/filter.d/portfolio-nginx-sensitive-probes.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
Due: prettier, eslint, backend-tests

ci/cd fix
  frontend/package-lock.json
  infra/scripts/release/test_deploy_container_selection.sh
Due: prettier

ci/cd fix
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

Harden probes and protected media caching
  .gitignore
  AGENTS.md
  backend/api_tests.http
  backend/astrophotography/tests/test_views.py
  backend/core/tests/test_admin_media_urls.py
  backend/core/views.py
  backend/inbox/middleware.py
  backend/inbox/tests/test_middleware.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_admin.py
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/urls.py
  backend/uv.lock
  docker-compose.prod.yml
  docker-compose.stage.yml
  frontend/package-lock.json
  frontend/src/__tests__/pwaBuildOptions.test.ts
  frontend/src/components/AstroGallery.tsx
  frontend/src/utils/pwaBuildOptions.ts
  frontend/vite.config.ts
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/nginx/static_server.conf
  infra/scripts/README.md
  infra/scripts/release/test_deploy_container_selection.sh
  infra/scripts/security/fail2ban/filter.d/portfolio-nginx-sensitive-probes.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
Due: prettier, eslint, backend-tests

chore(monitoring): Retire landingpage collector runtime
  AGENTS.md
  README.md
  VERSION
  backend/README.md
  backend/monitoring/tests/test_services.py
  backend/settings/base.py
  collector/README.md
  collector/portfolio-log-collector.cron
  collector/pyproject.toml
  collector/src/log_collector/__init__.py
  collector/src/log_collector/config.py
  collector/src/log_collector/docker_client.py
  collector/src/log_collector/log_sources.json
  collector/src/log_collector/main.py
  collector/src/log_collector/protocols.py
  collector/src/log_collector/services.py
  collector/src/log_collector/types.py
  collector/tests/__init__.py
  collector/tests/test_config.py
  collector/tests/test_services.py
  collector/uv.lock
  docker-compose.collector.yml
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker/collector/Dockerfile
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/monitoring_system_overview.md
  infra/scripts/monitoring/collect-logs.sh
  infra/scripts/monitoring/portfolio-collect-logs.cron
  infra/scripts/release/deploy.sh
  infra/scripts/utils.sh
Due: backend-tests

docker logs dir removal.
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
Due: backend-tests

Retire landingpage collector runtime
  AGENTS.md
  README.md
  VERSION
  backend/README.md
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
  backend/settings/base.py
  collector/README.md
  collector/portfolio-log-collector.cron
  collector/pyproject.toml
  collector/src/log_collector/__init__.py
  collector/src/log_collector/config.py
  collector/src/log_collector/docker_client.py
  collector/src/log_collector/log_sources.json
  collector/src/log_collector/main.py
  collector/src/log_collector/protocols.py
  collector/src/log_collector/services.py
  collector/src/log_collector/types.py
  collector/tests/__init__.py
  collector/tests/test_config.py
  collector/tests/test_services.py
  collector/uv.lock
  docker-compose.collector.yml
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker/collector/Dockerfile
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/monitoring_system_overview.md
  infra/scripts/monitoring/collect-logs.sh
  infra/scripts/monitoring/portfolio-collect-logs.cron
  infra/scripts/release/deploy.sh
  infra/scripts/utils.sh
Due: backend-tests

chore(monitoring): Disable inactive Celery Beat deployment
  README.md
  backend/README.md
  backend/monitoring/agent_assets/skills/normal_patterns.md
  backend/monitoring/agent_assets/skills/project_context.md
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
  backend/scripts/release_entrypoint.py
  backend/settings/base.py
  docker-compose.prod.yml
  infra/docs/project/monitoring_system_overview.md
  infra/docs/project/release_deploy_architecture.md
  infra/scripts/release/deploy.sh
Due: backend-tests

[skip ci] Version update
  VERSION
Due: none

ref(monitoring): Remove landingpage monitoring app shell
  AGENTS.md
  README.md
  backend/README.md
  backend/monitoring/__init__.py
  backend/monitoring/apps.py
  backend/monitoring/migrations/0001_initial.py
  backend/monitoring/migrations/0002_alter_loganalysis_backend_logs_and_more.py
  backend/monitoring/migrations/0003_alter_loganalysis_backend_logs_and_more.py
  backend/monitoring/migrations/0004_loganalysis_gpt_cost_usd_loganalysis_nginx_logs.py
  backend/monitoring/migrations/0005_loganalysis_trend_summary.py
  backend/monitoring/migrations/0006_loganalysis_traefik_logs.py
  backend/monitoring/migrations/0007_sitemapanalysis.py
  backend/monitoring/migrations/0008_loganalysis_fail2ban_logs_and_more.py
  backend/monitoring/migrations/0009_drop_legacy_monitoring_tables.py
  backend/monitoring/migrations/__init__.py
  backend/monitoring/models.py
  backend/pyproject.toml
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/monitoring_system_overview.md
Due: backend-tests

docs(monitoring): Document external report ownership
  README.md
  backend/README.md
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  infra/docs/project/logging_structure_overview.md
Due: backend-tests

fix(traefik): Use ACME storage as the only cert source
  docker-compose.traefik.yml
  infra/traefik/dynamic_conf.yml
Due: none

np audit fix
  VERSION
  frontend/package-lock.json
  frontend/package.json
Due: prettier

ref(monitoring): Finish landingpage monitoring cleanup
  AGENTS.md
  README.md
  backend/README.md
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/monitoring/__init__.py
  backend/monitoring/apps.py
  backend/monitoring/migrations/0001_initial.py
  backend/monitoring/migrations/0002_alter_loganalysis_backend_logs_and_more.py
  backend/monitoring/migrations/0003_alter_loganalysis_backend_logs_and_more.py
  backend/monitoring/migrations/0004_loganalysis_gpt_cost_usd_loganalysis_nginx_logs.py
  backend/monitoring/migrations/0005_loganalysis_trend_summary.py
  backend/monitoring/migrations/0006_loganalysis_traefik_logs.py
  backend/monitoring/migrations/0007_sitemapanalysis.py
  backend/monitoring/migrations/0008_loganalysis_fail2ban_logs_and_more.py
  backend/monitoring/migrations/0009_drop_legacy_monitoring_tables.py
  backend/monitoring/migrations/__init__.py
  backend/monitoring/models.py
  backend/pyproject.toml
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/monitoring_system_overview.md
Due: backend-tests

fix(traefik): Use ACME as the only cert source
  VERSION
  docker-compose.traefik.yml
  frontend/package-lock.json
  frontend/package.json
  infra/traefik/dynamic_conf.yml
Due: prettier

fix(security): Add Keycloak token probe blocking
  README.md
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/nginx/static_server.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-keycloak-token-abuse.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/traefik.yml
Due: none

ci/cd fix
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix(security): Add Keycloak token probe blocking
  README.md
  VERSION
  frontend/package-lock.json
  frontend/package.json
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/nginx/static_server.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-keycloak-token-abuse.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/traefik.yml
Due: prettier

ref(infra): Move Traefik ownership out of landingpage
  README.md
  backend/DEFAULT.env
  docker-compose.stage.yml
  docker-compose.traefik.yml
  docker-compose.yml
  docker/traefik/Dockerfile
  docker/traefik/entrypoint.sh
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/logging_structure_overview.md
  infra/scripts/README.md
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/dynamic_conf.yml
  infra/traefik/traefik.yml
Due: backend-tests

ref(infra): Remove external ops ownership from landingpage
  AGENTS.md
  README.md
  backend/DEFAULT.env
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/SSR Migration/STAGE-2_full_ssr_bff_migration_plan.md
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/vps_postgres_ssh_tunneling.md
  infra/scripts/README.md
  infra/scripts/release/release.sh
  infra/scripts/security/fail2ban/filter.d/portfolio-keycloak-token-abuse.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-nginx-sensitive-probes.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
Due: backend-tests

Move external ops ownership out of landingpage
  AGENTS.md
  README.md
  backend/DEFAULT.env
  docker-compose.stage.yml
  docker-compose.traefik.yml
  docker-compose.yml
  docker/traefik/Dockerfile
  docker/traefik/entrypoint.sh
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/SSR Migration/STAGE-2_full_ssr_bff_migration_plan.md
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/vps_postgres_ssh_tunneling.md
  infra/scripts/README.md
  infra/scripts/release/release.sh
  infra/scripts/security/fail2ban/filter.d/portfolio-keycloak-token-abuse.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-nginx-sensitive-probes.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/dynamic_conf.yml
  infra/traefik/traefik.yml
Due: backend-tests

staging change
  docker-compose.stage.yml
Due: none

version update
  VERSION
Due: none

ci/cd fix
  backend/core/mixins.py
Due: backend-tests

tests cleanup
  backend/inbox/tests/test_models.py
  backend/users/tests/test_models.py
Due: backend-tests

[skip ci] version update
  VERSION
Due: none

ref(images): Remove legacy thumbnail storage
  backend/astrophotography/admin.py
  backend/astrophotography/migrations/0021_remove_baseimage_thumbnail_fields.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/tests/test_commands.py
  backend/common/tests/test_image_specs.py
  backend/core/management/commands/backfill_image_variants.py
  backend/core/management/commands/regenerate_thumbnails.py
  backend/core/mixins.py
  backend/core/models.py
  backend/core/tasks.py
  backend/core/tests/test_commands.py
  backend/core/tests/test_image_variants.py
  backend/programming/migrations/0012_remove_baseimage_thumbnail_field.py
  backend/scripts/release_entrypoint.py
  backend/settings/base.py
  backend/shop/admin.py
  backend/users/admin.py
  backend/users/models.py
  backend/users/tests/test_admin.py
  backend/users/tests/test_models.py
  frontend/package-lock.json
  frontend/package.json
  infra/docs/project/django_admin_image_cropper_mechanism.md
Due: prettier, backend-tests

fix(images): Clean up variant files on deletion
  backend/core/admin.py
  backend/core/signals.py
  backend/core/tests/test_admin_visibility.py
  backend/core/tests/test_image_variants.py
Due: backend-tests

fix(astrophotography): Require ids for signed image URLs
  backend/astrophotography/signals.py
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/views.py
  backend/core/tests/test_image_variants.py
Due: backend-tests

fix: Defer translations and harden nginx releases
  backend/astrophotography/tests/test_admin.py
  backend/conftest.py
  backend/translation/fixtures.py
  backend/translation/mixins.py
  backend/translation/tests/test_mixins.py
  backend/translation/tests/test_translation_dispatch.py
  backend/translation/tests/test_translation_lifecycle.py
  backend/translation/tests/test_translation_logic.py
  docker/nginx/Dockerfile
  docker/nginx/docker-entrypoint.d/prepare-log-files.sh
  infra/scripts/README.md
  infra/scripts/download-blocklist.sh
  infra/scripts/release/deploy.sh
  infra/scripts/release/release.sh
Due: backend-tests

Path conditions:
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  backend-tests: any of: ^backend/
