Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c "cd backend && poetry run pytest"
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

registry test
  .github/workflows/ci-cd.yml
Due: none

registry test
  .github/workflows/ci-cd.yml
  infra/docs/production-release/README.md
  infra/scripts/README.md
Due: none

Updated ci-cd
  .github/workflows/ci-cd.yml
  .github/workflows/release.yml
  infra/docs/production-release/README.md
  infra/docs/release_deploy_architecture.md
  infra/scripts/README.md
  infra/scripts/release/prepare_images.sh
Due: none

npm audit fix
  frontend/package-lock.json
Due: prettier

Publish production images to GHCR on release tags
  .github/SECRETS.md
  .github/workflows/ci-cd.yml
  .github/workflows/release.yml
  README.md
  backend/README.md
  docker-compose.prod.yml
  frontend/README.md
  frontend/package-lock.json
  frontend/src/components/common/SEO.tsx
  infra/docs/SSR Migration/STAGE-1_ssr_migration.md
  infra/docs/SSR Migration/STAGE-2_full_ssr_bff_migration_plan.md
  infra/docs/production-release/README.md
  infra/docs/release_deploy_architecture.md
  infra/scripts/README.md
  infra/scripts/monitoring/README.md
  infra/scripts/release/README.md
  infra/scripts/release/prepare_images.sh
Due: prettier, eslint, backend-tests

ci-cd fix
  .github/workflows/ci-cd.yml
Due: none

dockerfile fixed typo
  docker/nginx/Dockerfile
Due: none

[skip ci] Version update
  VERSION
Due: none

ref(monitoring): Add LLM reporting scaffolding
  README.md
  backend/monitoring/agent_assets/examples/monitoring_job_response.example.json
  backend/monitoring/agent_assets/examples/sitemap_report.example.json
  backend/monitoring/agent_assets/prompts/monitoring_job_rules.md
  backend/monitoring/agent_assets/prompts/monitoring_job_system.md
  backend/monitoring/agent_assets/prompts/monitoring_log_summary.md
  backend/monitoring/agent_assets/prompts/monitoring_sitemap_summary.md
  backend/monitoring/agent_assets/schemas/final_summary.schema.json
  backend/monitoring/agent_assets/schemas/log_report.schema.json
  backend/monitoring/agent_assets/schemas/monitoring_job_response.schema.json
  backend/monitoring/agent_assets/schemas/sitemap_report.schema.json
  backend/monitoring/contracts.py
  backend/monitoring/prompt_assets.py
  backend/monitoring/tests/test_contracts.py
  backend/monitoring/tests/test_prompt_assets.py
  infra/docs/monitoring_agent_sitemap_plan.md
Due: backend-tests

ref(monitoring): Extract typed log report contract
  backend/monitoring/contracts.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_contracts.py
  backend/monitoring/tests/test_services.py
Due: backend-tests

feat(monitoring): Add deterministic sitemap audit services
  backend/monitoring/protocols.py
  backend/monitoring/services.py
  backend/monitoring/sitemap_services.py
  backend/monitoring/tests/test_sitemap_services.py
  backend/monitoring/tests/test_types.py
  backend/monitoring/types.py
Due: backend-tests

feat(monitoring): Add sitemap quality checks and monitoring assets
  backend/monitoring/agent/context.py
  backend/monitoring/agent/skills.py
  backend/monitoring/agent_assets/prompts/monitoring_log_response_format.md
  backend/monitoring/agent_assets/skills/application_monitoring.md
  backend/monitoring/agent_assets/skills/bot_detection.md
  backend/monitoring/agent_assets/skills/historical_context.md
  backend/monitoring/agent_assets/skills/normal_patterns.md
  backend/monitoring/agent_assets/skills/owasp_security.md
  backend/monitoring/agent_assets/skills/project_context.md
  backend/monitoring/agent_assets/skills/recommendations_guide.md
  backend/monitoring/agent_assets/skills/severity_guide.md
  backend/monitoring/sitemap_services.py
  backend/monitoring/tests/test_sitemap_services.py
  backend/monitoring/types.py
  infra/docs/monitoring_system_overview.md
Due: backend-tests

fix(pwa): stabilize sw.js updates and enable staging PWA
  frontend/src/entry-client.tsx
  frontend/src/serviceWorkerRegistration.ts
  frontend/src/utils/initClientServices.ts
  frontend/vite.config.ts
  infra/nginx/static_server.conf
  infra/scripts/release/build.sh
  infra/traefik/traefik.yml
Due: prettier, eslint

npm audit fix
  frontend/package-lock.json
  frontend/package.json
Due: prettier

FIX(PWA): stabilize sw.js updates and enable staging PWA (#133)
  .github/workflows/ci-cd.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/entry-client.tsx
  frontend/src/serviceWorkerRegistration.ts
  frontend/src/utils/initClientServices.ts
  frontend/vite.config.ts
  infra/nginx/static_server.conf
  infra/scripts/release/build.sh
  infra/traefik/traefik.yml
Due: prettier, eslint

fix(frontend): package SSR runtime language helper for docker startup
  .github/workflows/ci-cd.yml
  frontend/server/detectLanguage.js
  frontend/server/index.mjs
Due: prettier, eslint

fix(pwa): Restore legacy worker cleanup path
  frontend/public/service-worker.js
  infra/nginx/static_server.conf
Due: prettier, eslint

VERSION update
  VERSION
Due: none

feat(monitoring): Add bounded tool loop and sitemap quality checks
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/version-check.yml
  backend/monitoring/agent_assets/examples/monitoring_tool_loop_response.example.json
  backend/monitoring/agent_assets/prompts/monitoring_tool_loop_system.md
  backend/monitoring/agent_assets/prompts/monitoring_tool_loop_user.md
  backend/monitoring/agent_assets/schemas/monitoring_tool_loop_response.schema.json
  backend/monitoring/agent_assets/tools/get_skill_bot_detection.md
  backend/monitoring/agent_assets/tools/get_skill_owasp.md
  backend/monitoring/agent_assets/tools/get_skill_response_format.md
  backend/monitoring/agent_assets/tools/prepare_log_report.md
  backend/monitoring/monitoring_agent_runner.py
  backend/monitoring/tests/test_monitoring_agent_runner.py
  backend/monitoring/tests/test_types.py
  backend/monitoring/types.py
  frontend/public/service-worker.js
  infra/docs/monitoring_system_overview.md
  infra/scripts/release/deploy.sh
Due: prettier, eslint, backend-tests

feat(monitoring): Wire bounded agent into log analysis task
  backend/core/management/commands/convert_images_to_webp.py
  backend/core/tests/test_webp_command.py
  backend/monitoring/agent_assets/prompts/monitoring_tool_loop_system.md
  backend/monitoring/agent_assets/prompts/monitoring_tool_loop_user.md
  backend/monitoring/agent_assets/schemas/monitoring_tool_loop_response.schema.json
  backend/monitoring/monitoring_agent_runner.py
  backend/monitoring/services.py
  backend/monitoring/tasks.py
  backend/monitoring/tests/test_admin.py
  backend/monitoring/tests/test_monitoring_agent_runner.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_tasks.py
  backend/monitoring/tests/test_types.py
  backend/monitoring/types.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/users/admin.py
  backend/users/migrations/0014_replace_original_image_fields_with_webp_fields.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/tasks.py
  backend/users/templates/admin/users/user/robust_change_form.html
  backend/users/tests/test_admin.py
  backend/users/tests/test_models.py
  backend/users/tests/test_tasks.py
  backend/users/tests/test_user_triggers.py
  backend/users/tests/test_views.py
  backend/users/tests/test_webp.py
  frontend/package.json
  infra/docs/django_admin_avatar_cropper_plan.md
Due: prettier, backend-tests

feat(users-admin): add sidebar cropper scaffold for media tab
  backend/users/admin.py
  backend/users/static/users/js/admin_image_cropper.js
  backend/users/templates/admin/users/user/robust_change_form.html
  backend/users/templates/admin/users/widgets/admin_image_cropper.html
  backend/users/tests/test_admin.py
  infra/docs/django_admin_avatar_cropper_plan.md
Due: backend-tests

feat(users-admin): add interactive admin image cropper for avatar
  backend/users/admin.py
  backend/users/static/users/css/admin_image_cropper.css
  backend/users/static/users/js/admin_image_cropper.js
  backend/users/templates/admin/users/user/robust_change_form.html
  backend/users/templates/admin/users/widgets/admin_image_cropper.html
  backend/users/tests/test_admin.py
  backend/users/tests/test_tasks.py
  infra/docs/django_admin_avatar_cropper_plan.md
Due: backend-tests

feat(users-admin): add multi-field admin image cropper
  backend/core/tests/test_admin_media_urls.py
  backend/settings/base.py
  backend/settings/urls.py
  backend/users/admin.py
  backend/users/static/users/css/admin_image_cropper.css
  backend/users/static/users/js/admin_image_cropper.js
  backend/users/templates/admin/users/user/robust_change_form.html
  backend/users/templates/admin/users/widgets/admin_image_cropper.html
  backend/users/tests/test_admin.py
  backend/users/types.py
  docker/frontend/Dockerfile
  infra/docs/django_admin_image_cropper_mechanism.md
Due: backend-tests

refactor(frontend): stop hardcoding API host fallbacks
  backend/users/tests/test_admin.py
  docker/frontend/Dockerfile
  frontend/src/setupTests.ts
  frontend/webpack.config.mjs
Due: prettier, eslint, backend-tests

translations
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
Due: backend-tests

feat(monitoring): Add scheduled sitemap analysis flow
  backend/monitoring/admin.py
  backend/monitoring/migrations/0007_sitemapanalysis.py
  backend/monitoring/models.py
  backend/monitoring/protocols.py
  backend/monitoring/services.py
  backend/monitoring/sitemap_services.py
  backend/monitoring/tasks.py
  backend/monitoring/templates/monitoring/email/sitemap_analysis.html
  backend/monitoring/tests/factories.py
  backend/monitoring/tests/test_email.py
  backend/monitoring/tests/test_models.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_sitemap_services.py
  backend/monitoring/tests/test_tasks.py
  backend/monitoring/types.py
  backend/settings/base.py
Due: backend-tests

ref(monitoring): Harden sitemap reporting workflow
  backend/monitoring/admin.py
  backend/monitoring/models.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_admin.py
  backend/monitoring/tests/test_models.py
  backend/monitoring/tests/test_services.py
  infra/docs/monitoring_system_overview.md
Due: backend-tests

feat(monitoring): Add manual sitemap admin run workflow
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/monitoring/admin.py
  backend/monitoring/models.py
  backend/monitoring/protocols.py
  backend/monitoring/services.py
  backend/monitoring/sitemap_services.py
  backend/monitoring/tasks.py
  backend/monitoring/templates/admin/monitoring/sitemapanalysis/change_list.html
  backend/monitoring/templates/monitoring/email/sitemap_analysis.html
  backend/monitoring/tests/test_admin.py
  backend/monitoring/tests/test_email.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_sitemap_services.py
  backend/monitoring/views.py
  backend/settings/api_urls.py
  backend/settings/base.py
  docker-compose.yml
  infra/docs/monitoring_agent_sitemap_plan.md
  infra/docs/monitoring_system_overview.md
Due: backend-tests

feat(monitoring): finalize sitemap monitoring and admin controls
  VERSION
  backend/monitoring/tasks.py
  backend/monitoring/tests/test_tasks.py
  backend/settings/base.py
  infra/docs/monitoring_agent_sitemap_plan.md
  infra/docs/monitoring_system_overview.md
Due: backend-tests

feat(monitoring): finalize admin monitoring workflows and rollout fixes
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/monitoring/admin.py
  backend/monitoring/models.py
  backend/monitoring/services.py
  backend/monitoring/sitemap_services.py
  backend/monitoring/templates/admin/monitoring/loganalysis/change_list.html
  backend/monitoring/tests/test_admin.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/types.py
  backend/monitoring/views.py
  backend/settings/api_urls.py
  backend/users/static/users/js/admin_image_cropper.js
Due: backend-tests

feat(users,monitoring): preserve original profile images and tighten monitoring docs
  AGENTS.md
  README.md
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/settings/base.py
  backend/users/admin.py
  backend/users/migrations/0015_user_cropped_image_fields.py
  backend/users/models.py
  backend/users/static/users/js/admin_image_cropper.js
  backend/users/tasks.py
  backend/users/templates/admin/users/user/robust_change_form.html
  backend/users/tests/test_admin.py
  backend/users/tests/test_models.py
  backend/users/tests/test_tasks.py
  backend/users/tests/test_webp.py
  backend/users/types.py
  infra/docs/agent/engineering_conventions.md
  infra/docs/agent/implementation_process.md
  infra/docs/django_admin_avatar_cropper_plan.md
  infra/docs/monitoring_system_overview.md
  infra/docs/project/SSR Migration/STAGE-1_ssr_migration.md
  infra/docs/project/SSR Migration/STAGE-2_full_ssr_bff_migration_plan.md
  infra/docs/project/architecture.png
  infra/docs/project/cache_invalidation.md
  infra/docs/project/django_admin_image_cropper_mechanism.md
  infra/docs/project/latest_images_tags.md
  infra/docs/project/monitoring_system_overview.md
  infra/docs/project/production-release/README.md
  infra/docs/project/release_deploy_architecture.md
Due: backend-tests

cleanup
  AGENTS.md
  backend/monitoring/static/monitoring/css/admin_monitoring_changelist.css
  backend/monitoring/static/monitoring/js/admin_monitoring_changelist.js
  backend/monitoring/templates/admin/monitoring/loganalysis/change_list.html
  backend/monitoring/templates/admin/monitoring/sitemapanalysis/change_list.html
Due: backend-tests

Normalized LLM response + added redirect to admin changelist.
  backend/monitoring/services.py
  backend/monitoring/static/monitoring/js/admin_monitoring_changelist.js
  backend/monitoring/tests/test_services.py
Due: backend-tests

fix(infra): Block sensitive probes and add fail2ban hardening
  AGENTS.md
  docker-compose.prod.yml
  docker-compose.traefik.yml
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/production-release/README.md
  infra/docs/project/production-release/fail2ban_probe_blocking.md
  infra/nginx/static_server.conf
  infra/scripts/README.md
  infra/scripts/security/fail2ban/filter.d/portfolio-nginx-sensitive-probes.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/traefik.yml
Due: none

Added nginx logs stderr and proper timezone (Warsaw).
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.traefik.yml
  docker/nginx/Dockerfile
  docker/traefik/Dockerfile
  infra/nginx/static_server.conf
Due: backend-tests

feat(admin): Improve upload feedback and translation diagnostics
  AGENTS.md
  README.md
  VERSION
  backend/astrophotography/static/astrophotography/css/admin_upload_progress.css
  backend/astrophotography/static/astrophotography/js/admin_upload_progress.js
  backend/astrophotography/templates/admin/astrophotography/secure_media_change_form.html
  backend/astrophotography/tests/test_admin.py
  backend/translation/agents.py
  backend/translation/services.py
  backend/translation/tests/test_tasks.py
  infra/docs/agent/implementation_process.md
  infra/docs/project/translation_system_overview.md
  infra/scripts/monitoring/README.md
  infra/scripts/monitoring/collect-logs.sh
Due: backend-tests

fix(infra): Harden production probe handling and fix sitemap domain wiring
  AGENTS.md
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.traefik.yml
  docker/nginx/Dockerfile
  docker/traefik/Dockerfile
  infra/docs/prod/fail2ban_probe_blocker_playbook.md
  infra/docs/project/production-release/README.md
  infra/docs/project/production-release/fail2ban_probe_blocking.md
  infra/nginx/static_server.conf
  infra/scripts/README.md
  infra/scripts/security/fail2ban/filter.d/portfolio-nginx-sensitive-probes.conf
  infra/scripts/security/fail2ban/filter.d/portfolio-traefik-sensitive-probes.conf
  infra/scripts/security/fail2ban/jail.d/portfolio-probe-blocker.local
  infra/scripts/security/install_fail2ban_probe_blocker.sh
  infra/traefik/traefik.yml
Due: backend-tests

Path conditions:
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  backend-tests: any of: ^backend/
