Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: bash -c "cd backend && poetry run pytest"
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

Version update
  VERSION
Due: none

staging ci/cd
  .github/workflows/staging-image-publish.yml
Due: none

ci: Add manual staging image publish trigger
  .github/workflows/staging-image-publish.yml
Due: none

ci: Add registry-backed staging deploy flow
  .github/workflows/staging-image-publish.yml
  docker-compose.stage.yml
  infra/docs/project/release_deploy_architecture.md
  infra/scripts/README.md
  infra/scripts/release/README.md
  infra/scripts/release/deploy.sh
  infra/scripts/release/manual_deploy_staging.sh
  infra/scripts/release/prepare_staging_images.sh
Due: none

fix(images): Restrict signed URL lookup to one image
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/views.py
  frontend/src/__tests__/TravelHighlightsPage.test.tsx
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/api/__tests__/imageUrlService.test.ts
  frontend/src/api/imageUrlService.ts
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/ImageModal.tsx
  frontend/src/hooks/useImageUrls.ts
Due: prettier, eslint, backend-tests

(feat) Add registry-backed staging image deploy flow
  .github/workflows/staging-image-publish.yml
  docker-compose.stage.yml
  infra/docs/project/release_deploy_architecture.md
  infra/scripts/README.md
  infra/scripts/release/README.md
  infra/scripts/release/deploy.sh
  infra/scripts/release/manual_deploy_staging.sh
  infra/scripts/release/prepare_staging_images.sh
Due: none

feat(images): Add responsive variant sizing
  backend/astrophotography/serializers.py
  backend/astrophotography/tests/test_views.py
  backend/common/serializers.py
  backend/shop/models.py
  backend/shop/serializers.py
  backend/shop/tests/test_serializers.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/tests/test_views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/__tests__/hooks/useImageVariantSize.test.tsx
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/__tests__/hooks/useTravelHighlightDetailFetch.test.ts
  frontend/src/__tests__/imageVariants.test.ts
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/services.ts
  frontend/src/entry-server.tsx
  frontend/src/hooks/useAstroImages.ts
  frontend/src/hooks/useBackground.ts
  frontend/src/hooks/useImageVariantSize.ts
  frontend/src/hooks/useLatestAstroImages.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useShopProducts.ts
  frontend/src/hooks/useTravelHighlightDetail.ts
  frontend/src/hooks/useTravelHighlights.ts
  frontend/src/types/index.ts
  frontend/src/utils/imageVariants.ts
Due: prettier, eslint, backend-tests

ref(images): Rename variant owner accessor
  backend/astrophotography/signals.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/tests/test_views.py
  backend/core/mixins.py
  backend/core/models.py
  backend/core/tests/factories.py
  backend/core/tests/test_admin_visibility.py
  backend/core/tests/test_image_variants.py
  backend/shop/tests/test_models.py
  backend/shop/tests/test_views.py
  backend/users/tests/test_views.py
Due: backend-tests

ref(images): Use project-format image naming
  backend/astrophotography/models.py
  backend/astrophotography/tests/test_models.py
  backend/common/tests/test_image_utils.py
  backend/core/locale/pl/LC_MESSAGES/django.po
  backend/core/migrations/0006_imagevariant.py
  backend/core/migrations/0008_remove_landingpagesettings_serve_webp_images_and_more.py
  backend/core/models.py
  backend/core/tests/test_baseimage_fields.py
  backend/core/tests/test_image_variants.py
  frontend/src/__tests__/entry-server.test.tsx
Due: prettier, eslint, backend-tests

feat(images): Serve responsive variant payloads
  backend/astrophotography/serializers.py
  backend/astrophotography/tests/test_serializers.py
  backend/astrophotography/tests/test_views.py
  backend/common/types.py
  backend/core/locale/pl/LC_MESSAGES/django.mo
  backend/core/mixins.py
  backend/core/tests/test_image_variants.py
  backend/shop/serializers.py
  backend/shop/tests/test_serializers.py
  backend/shop/tests/test_views.py
  backend/shop/views.py
  backend/users/models.py
  backend/users/serializers.py
  frontend/src/__tests__/Shop.test.tsx
  frontend/src/__tests__/imageVariants.test.ts
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/media.ts
  frontend/src/api/services.ts
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Shop.tsx
  frontend/src/types/index.ts
  frontend/src/utils/imageVariants.ts
Due: prettier, eslint, backend-tests

fix(frontend): Refresh home data after language switch
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/hooks/languageBoundShellQueryOptions.ts
  frontend/src/hooks/useBackground.ts
  frontend/src/hooks/useLatestAstroImages.ts
  frontend/src/hooks/useLatestTags.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useTravelHighlights.ts
Due: prettier, eslint

perf(images): Improve responsive variant delivery
  backend/astrophotography/models.py
  backend/astrophotography/tests/test_models.py
  backend/astrophotography/tests/test_serializers.py
  backend/core/management/commands/backfill_image_variants.py
  backend/core/tests/test_commands.py
  backend/core/tests/test_image_variants.py
  backend/shop/models.py
  backend/shop/tests/test_tasks.py
  frontend/e2e/fixtures.ts
  frontend/e2e/gallery.spec.ts
  frontend/vite.config.ts
Due: prettier, eslint, backend-tests

quality change
  backend/astrophotography/models.py
  backend/astrophotography/tests/test_models.py
  backend/shop/models.py
Due: backend-tests

chore(platform): Modernize runtime and operations
  .github/SECRETS.md
  .github/workflows/add-issues-to-project.yml
  .pre-commit-config.yaml
  backend/README.md
  backend/astrophotography/admin.py
  backend/astrophotography/forms.py
  backend/astrophotography/models.py
  backend/astrophotography/tests/test_admin.py
  backend/common/decorators/cache.py
  backend/common/llm/registry.py
  backend/common/utils/image.py
  backend/common/utils/signing.py
  backend/core/management/commands/backfill_image_variants.py
  backend/core/management/commands/regenerate_thumbnails.py
  backend/core/models.py
  backend/core/views.py
  backend/inbox/views.py
  backend/pyproject.toml
  backend/shop/management/commands/_seed_shop_settings_defaults.py
  backend/shop/models.py
  backend/shop/views.py
  backend/translation/services.py
  backend/users/models.py
  backend/uv.lock
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  docker/backend/Dockerfile
  docker/nginx/Dockerfile
  docker/nginx/docker-entrypoint.d/prepare-log-files.sh
  infra/docs/project/logging_structure_overview.md
  infra/nginx/static_server.conf
  infra/scripts/db_backup/MAINTENANCE.md
  infra/scripts/db_backup/backup_db.sh
Due: backend-tests

npm audit fix
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat: Improve admin, SEO, and request resilience
  .github/workflows/add-issues-to-project.yml
  backend/astrophotography/admin.py
  backend/astrophotography/forms.py
  backend/astrophotography/tests/test_admin.py
  backend/core/static/core/css/themed_date_widget_v3.css
  backend/core/static/core/js/themed_date_widget_v3.js
  backend/core/static/core/vendor/air-datepicker/3.6.0/LICENSE.md
  backend/core/static/core/vendor/air-datepicker/3.6.0/air-datepicker.css
  backend/core/static/core/vendor/air-datepicker/3.6.0/air-datepicker.js
  backend/core/templates/core/widgets/themed_date.html
  backend/core/tests/test_sitemaps.py
  backend/core/tests/test_widgets.py
  backend/core/widgets.py
  backend/settings/urls.py
  frontend/e2e/gallery.spec.ts
  frontend/server/index.mjs
  frontend/server/requestValidation.js
  frontend/server/staticAssets.js
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/requestValidation.server.test.ts
  frontend/src/components/AstroGallery.tsx
  frontend/src/styles/components/ImageModal.module.css
Due: prettier, eslint, backend-tests

fix(infra): Align staging admin ingress
  docker-compose.stage.yml
  infra/nginx/static_server.conf
Due: none

version update
  VERSION
Due: none

npm audit fix
  .github/workflows/ci-cd.yml
  frontend/audit-ci.jsonc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
Due: prettier, eslint

feat: Harden admin workflows and public request handling
  .github/workflows/add-issues-to-project.yml
  .github/workflows/ci-cd.yml
  VERSION
  backend/astrophotography/admin.py
  backend/astrophotography/forms.py
  backend/astrophotography/tests/test_admin.py
  backend/core/static/core/css/themed_date_widget_v3.css
  backend/core/static/core/js/themed_date_widget_v3.js
  backend/core/static/core/vendor/air-datepicker/3.6.0/LICENSE.md
  backend/core/static/core/vendor/air-datepicker/3.6.0/air-datepicker.css
  backend/core/static/core/vendor/air-datepicker/3.6.0/air-datepicker.js
  backend/core/templates/core/widgets/themed_date.html
  backend/core/tests/test_sitemaps.py
  backend/core/tests/test_widgets.py
  backend/core/widgets.py
  backend/settings/urls.py
  docker-compose.stage.yml
  frontend/audit-ci.jsonc
  frontend/e2e/gallery.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/server/index.mjs
  frontend/server/requestValidation.js
  frontend/server/staticAssets.js
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/requestValidation.server.test.ts
  frontend/src/components/AstroGallery.tsx
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  frontend/src/styles/components/ImageModal.module.css
  infra/nginx/static_server.conf
Due: prettier, eslint, backend-tests

fix(infra): Harden client IP and Celery health handling
  README.md
  VERSION
  backend/DEFAULT.env
  backend/common/client_ip.py
  backend/common/tests/test_client_ip.py
  backend/common/tests/test_real_ip_proxy_config.py
  backend/common/throttling.py
  backend/inbox/views.py
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  frontend/server/backendProxy.js
  infra/docs/project/logging_structure_overview.md
  infra/nginx/includes/ssl.conf.template
  infra/nginx/static_server.conf
  infra/scripts/db_backup/MAINTENANCE.md
  infra/scripts/nginx/generate-cert.sh
  infra/scripts/nginx/generate-stage-cert.sh
  infra/scripts/utils.sh
Due: prettier, eslint, backend-tests

fix(infra): Correct proxy trust and Celery health checks
  README.md
  VERSION
  backend/DEFAULT.env
  backend/common/client_ip.py
  backend/common/tests/test_client_ip.py
  backend/common/tests/test_real_ip_proxy_config.py
  backend/common/throttling.py
  backend/inbox/views.py
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  frontend/server/backendProxy.js
  infra/docs/project/logging_structure_overview.md
  infra/nginx/includes/ssl.conf.template
  infra/nginx/static_server.conf
  infra/scripts/db_backup/MAINTENANCE.md
  infra/scripts/nginx/generate-cert.sh
  infra/scripts/nginx/generate-stage-cert.sh
  infra/scripts/utils.sh
Due: prettier, eslint, backend-tests

Path conditions:
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  eslint: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  backend-tests: any of: ^backend/
