Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer

  # Frontend hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, json, yaml, markdown]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

  # Backend hooks
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        files: ^backend/
        args:
          ["--settings-path", "backend/pyproject.toml", "--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config", "backend/pyproject.toml"]
        language_version: python3.13

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^backend/
        exclude: /migrations/
        args: ["--toml-config", "backend/pyproject.toml"]
        additional_dependencies: [flake8-pyproject]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "cd backend && poetry run mypy ."
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Security and Docker hooks - run manually when needed
  # detect-secrets scan --baseline .secrets.baseline
  # hadolint Dockerfile

  # Testing hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c "cd backend && poetry run pytest"
        language: system
        pass_filenames: false
        files: ^backend/
        always_run: false
        stages: [pre-commit]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c "cd frontend && npm test -- --watchAll=false"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

feat(gallery): Sort latest images by addition date and improve AI logging
  backend/astrophotography/models.py
  backend/settings/tests.py
  backend/translation/services.py
  backend/translation/tests/test_tasks.py
  frontend/src/components/Gallery.tsx
  scripts/monitoring/collect-logs.sh
Due: prettier, eslint, backend-tests

Version update
  VERSION
Due: none

ci/cd fixes
  .github/workflows/quality-checks.yml
  frontend/src/components/Gallery.tsx
Due: prettier, eslint

ci/cd fixes
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Feat/django admin ux changes (#101)
  .github/workflows/quality-checks.yml
  VERSION
  backend/DEFAULT.env
  backend/astrophotography/models.py
  backend/common/llm/providers.py
  backend/core/static/core/css/admin_date_clean.css
  backend/core/static/core/css/admin_sidebar.css
  backend/core/static/core/css/select2_admin.css
  backend/core/templates/admin/base_site.html
  backend/monitoring/agent/__init__.py
  backend/monitoring/agent/agent.py
  backend/monitoring/agent/context.py
  backend/monitoring/agent/skills.py
  backend/monitoring/agents.py
  backend/monitoring/migrations/0004_loganalysis_gpt_cost_usd_loganalysis_nginx_logs.py
  backend/monitoring/models.py
  backend/monitoring/services.py
  backend/monitoring/templates/monitoring/email/log_analysis.html
  backend/monitoring/tests/conftest.py
  backend/monitoring/tests/llm_responses/attack.json
  backend/monitoring/tests/llm_responses/default.json
  backend/monitoring/tests/test_agents.py
  backend/monitoring/tests/test_context.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_skills.py
  backend/monitoring/tests/test_tasks.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/settings/base.py
  backend/settings/tests.py
  backend/translation/services.py
  backend/translation/tests/test_tasks.py
  docker-compose.prod.yml
  frontend/package-lock.json
  frontend/package.json
  scripts/monitoring/collect-logs.sh
Due: prettier, backend-tests

fix(infra): Inject PROJECT_OWNER into production containers to prevent release crash
  docker-compose.prod.yml
Due: none

Security scan deps fixes. Docker compose missing environment variable fix.
  backend/.safety-project.ini
  backend/poetry.lock
  backend/pyproject.toml
Due: backend-tests

fix(security): Remove hardcoded SSL private key from repository
  .gitignore
  nginx/stage/ssl/server.key
Due: none

Added celery beat for production
  docker-compose.prod.yml
Due: none

ci/cd fixes
  .github/workflows/branch-protection.yml
  .github/workflows/quality-checks.yml
Due: none

github template change
  .github/pull_request_template.md
Due: none

Fix/production celery beat (#105)
  .github/pull_request_template.md
  .github/workflows/branch-protection.yml
  .github/workflows/quality-checks.yml
  VERSION
  docker-compose.prod.yml
Due: none

fix(security): Fixing media serving - implemented secure media architecture for django admin.
  backend/astrophotography/admin.py
  backend/astrophotography/admin_mixins.py
  backend/astrophotography/forms.py
  backend/astrophotography/templates/admin/astrophotography/secure_media_change_form.html
  backend/astrophotography/templates/core/widgets/secure_admin_file_input.html
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/urls.py
  backend/astrophotography/views.py
  backend/core/errors.py
  backend/core/templates/core/errors/error_secure.html
  backend/core/views.py
  backend/core/widgets.py
  backend/monitoring/admin.py
  backend/monitoring/agent/context.py
  backend/monitoring/tests/test_admin.py
  backend/monitoring/views.py
  backend/settings/api_urls.py
  backend/settings/urls.py
  docker-compose.prod.yml
  docker-compose.yml
  nginx/TEMPLATE.conf
  nginx/prod/TEMPLATE.conf
  scripts/release/deploy.sh
Due: backend-tests

feat(security): Harden Nginx against malicious probes and optimize infrastructure
  backend/api_tests.http
  frontend/nginx.conf
  nginx/TEMPLATE.conf
Due: backend-tests

feat(infra): implement Redis security and unified Docker structure
  .gitignore
  backend/DEFAULT.env
  backend/core/management/__init__.py
  backend/core/management/commands/clear_cache.py
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.yml
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  docker/redis/Dockerfile
  docker/redis/entrypoint.sh
  frontend/nginx.conf
  frontend/src/components/About.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Programming.tsx
  frontend/src/components/TravelHighlights.tsx
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/GalleryCard.tsx
  frontend/src/components/common/ImageModal.tsx
  frontend/src/components/common/ImageWithFallback.tsx
  frontend/src/styles/components/GalleryCard.module.css
  frontend/src/styles/components/Programming.module.css
  frontend/src/styles/components/TravelHighlights.module.css
  frontend/src/styles/components/TravelHighlightsPage.module.css
  frontend/vite.config.ts
  nginx/TEMPLATE.conf
  scripts/db_backup/backup_db.sh
  scripts/db_backup/test_restore.sh
  scripts/release/build.sh
Due: prettier, eslint, backend-tests

fixed tests
  backend/astrophotography/migrations/0011_place_is_region_place_sub_places_and_more.py
  backend/settings/tests.py
Due: backend-tests

refactor(astrophotography): reorganize tests and add strict type hints
  .gitignore
  backend/astrophotography/admin.py
  backend/monitoring/agent/agent.py
  backend/monitoring/agent/context.py
  backend/monitoring/agent/skills.py
  backend/monitoring/migrations/0005_loganalysis_trend_summary.py
  backend/monitoring/models.py
  backend/monitoring/services.py
  backend/monitoring/templates/monitoring/email/log_analysis.html
  backend/monitoring/tests/test_agents.py
  backend/monitoring/tests/test_context.py
  backend/monitoring/tests/test_models.py
  backend/monitoring/tests/test_services.py
  scripts/monitoring/collect-logs.sh
Due: backend-tests

refactor(astrophotography): reorganize tests and add strict type hints
  backend/monitoring/admin.py
  backend/monitoring/services.py
Due: backend-tests

ci/cd changes + csp fix.
  .github/workflows/quality-checks.yml
  GEMINI.md
  backend/core/views.py
  frontend/nginx.conf
  nginx/TEMPLATE.conf
Due: backend-tests

ci/cd changes
  docker-compose.yml
Due: none

version update and ci/cd fix
  VERSION
  docker-compose.yml
Due: none

Changed dockerfile paths for image builds
  docker-compose.yml
  docker/backend/Dockerfile
Due: none

fix(infra): production fixes, CI deduplication, and unified build context
  .github/workflows/codeql.yml
  .github/workflows/quality-checks.yml
  backend/entrypoint.sh
  docker-compose.prod.yml
  docker/backend/Dockerfile
  docker/backend/entrypoint.sh
  scripts/monitoring/collect-logs.sh
  scripts/release/README.md
  scripts/release/build.sh
Due: backend-tests

[skip ci] version update
  VERSION
Due: none

fix(infra): production fixes, CI deduplication, and unified build con… (#110)
  .github/workflows/codeql.yml
  .github/workflows/quality-checks.yml
  VERSION
  backend/entrypoint.sh
  docker-compose.prod.yml
  docker/backend/Dockerfile
  docker/backend/entrypoint.sh
  scripts/monitoring/collect-logs.sh
  scripts/release/README.md
  scripts/release/build.sh
Due: backend-tests

fix(ci): Fix the issue where CI jobs were not triggering on Pull Requests from `dev` to `main`.
  .github/workflows/codeql.yml
  .github/workflows/quality-checks.yml
Due: none

fix(ci): isolation of Push and Pull Request events in concurrency
  .github/workflows/codeql.yml
  .github/workflows/quality-checks.yml
Due: none

postgres update
  .github/workflows/quality-checks.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/backend/Dockerfile
  scripts/db_backup/backup_db.sh
  scripts/db_backup/restore_db.sh
  scripts/db_backup/test_restore.sh
Due: none

postgres update (#112)
  .github/workflows/quality-checks.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/backend/Dockerfile
  scripts/db_backup/backup_db.sh
  scripts/db_backup/restore_db.sh
  scripts/db_backup/test_restore.sh
Due: none

build(infra): Overhaul Nginx architecture and migrate to Doppler secrets
  .github/workflows/quality-checks.yml
  README.md
  backend/README.md
  backend/settings/base.py
  docker-compose.common.yml
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  docker/backend/Dockerfile
  docker/backend/entrypoint.sh
  docker/frontend/Dockerfile
  docker/nginx/Dockerfile
  frontend/README.md
  frontend/nginx.conf
  frontend/public/error.html
  nginx/TEMPLATE.conf
  nginx/stage/TEMPLATE.conf
  nginx/stage/generate-certs.sh
  nginx/stage/local.conf
  nginx/stage/ssl/ca.crt
  nginx/stage/ssl/server.crt
  screenshots/contact.jpg
  screenshots/gallery.jpg
  screenshots/homepage.jpg
  scripts/download-blocklist.sh
  scripts/nginx/generate-stage-cert.sh
  scripts/release/README.md
  scripts/release/build.sh
  scripts/release/deploy.sh
  scripts/release/release.sh
Due: prettier, backend-tests

Implemented allowed ips for staging.
  docker-compose.stage.yml
  nginx/TEMPLATE.conf
  nginx/stage/restrictions.conf.template
Due: none

Feat/staging environment (#107)
  .github/workflows/quality-checks.yml
  .gitignore
  README.md
  VERSION
  backend/README.md
  backend/core/views.py
  backend/settings/base.py
  docker-compose.common.yml
  docker-compose.stage.yml
  docker-compose.yml
  docker/backend/Dockerfile
  docker/backend/entrypoint.sh
  docker/frontend/Dockerfile
  docker/nginx/Dockerfile
  frontend/README.md
  frontend/nginx.conf
  frontend/public/error.html
  frontend/scripts/inject-metadata.sh
  frontend/vite.config.ts
  nginx/TEMPLATE.conf
  nginx/stage/restrictions.conf.template
  screenshots/contact.jpg
  screenshots/gallery.jpg
  screenshots/homepage.jpg
  scripts/download-blocklist.sh
  scripts/nginx/generate-stage-cert.sh
  scripts/release/README.md
  scripts/release/build.sh
  scripts/release/deploy.sh
  scripts/release/release.sh
  scripts/release/utils.sh
Due: prettier, eslint, backend-tests

feat(infra): implement total independence (image-only config, port isolation, hardened scripts)
  docker-compose.prod.yml
  docker-compose.stage.yml
  scripts/release/build.sh
  scripts/release/deploy.sh
  scripts/release/release.sh
Due: none

prod infra fixes
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker/backend/Dockerfile
  frontend/nginx.conf
  scripts/release/build.sh
  scripts/release/deploy.sh
  scripts/release/release.sh
Due: none

version update
  VERSION
Due: none
