Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer

  # Frontend hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, json, yaml, markdown]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

  # Backend hooks
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        files: ^backend/
        args:
          ["--settings-path", "backend/pyproject.toml", "--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config", "backend/pyproject.toml"]
        language_version: python3.13

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^backend/
        exclude: /migrations/
        args: ["--toml-config", "backend/pyproject.toml"]
        additional_dependencies: [flake8-pyproject]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "cd backend && poetry run mypy ."
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Security and Docker hooks - run manually when needed
  # detect-secrets scan --baseline .secrets.baseline
  # hadolint Dockerfile

  # Testing hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c "cd backend && poetry run pytest"
        language: system
        pass_filenames: false
        files: ^backend/
        always_run: false
        stages: [pre-commit]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c "cd frontend && npm test -- --watchAll=false"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

Fix monitoring log collection and Traefik analysis pipeline
  backend/monitoring/admin.py
  backend/monitoring/agent/agent.py
  backend/monitoring/agent/context.py
  backend/monitoring/log_sources.json
  backend/monitoring/log_sources.py
  backend/monitoring/migrations/0006_loganalysis_traefik_logs.py
  backend/monitoring/models.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_agents.py
  backend/monitoring/tests/test_email.py
  backend/monitoring/tests/test_models.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_tasks.py
  docker-compose.stage.yml
  infra/scripts/monitoring/README.md
  infra/scripts/monitoring/collect-logs.sh
Due: backend-tests

fix(ssr): Restore secure image delivery behind FE-owned routes
  README.md
  backend/README.md
  backend/astrophotography/serializers.py
  backend/astrophotography/tests/test_models.py
  backend/astrophotography/tests/test_serializers.py
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/views.py
  backend/core/models.py
  backend/settings/urls.py
  docker-compose.yml
  frontend/README.md
  frontend/package.json
  frontend/scripts/clear-ssr-cache.mjs
  frontend/server/index.mjs
  frontend/server/views/bff.js
  frontend/src/__tests__/ImageModal.test.tsx
  frontend/src/__tests__/ImageWithFallback.test.tsx
  frontend/src/__tests__/TravelHighlights.test.tsx
  frontend/src/api/__tests__/imageUrlService.test.ts
  frontend/src/api/__tests__/media.test.ts
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/constants.ts
  frontend/src/api/imageUrlService.ts
  frontend/src/api/media.ts
  frontend/src/api/routes.ts
  frontend/src/components/TravelHighlights.tsx
  frontend/src/components/common/ImageModal.tsx
  frontend/src/components/common/ImageWithFallback.tsx
  frontend/src/service-worker.ts
  frontend/vite.config.ts
  infra/nginx/TEMPLATE.conf
  infra/nginx/static_server.conf
Due: prettier, eslint, backend-tests

fix(nginx): prioritize protected media routes in static server config
  infra/nginx/static_server.conf
Due: none

fix(ssr): Stabilize media delivery and task dispatch across admin and dev
  backend/astrophotography/admin.py
  backend/astrophotography/signals.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/tests/test_models.py
  backend/astrophotography/tests/test_views.py
  backend/common/celery.py
  backend/common/tasks.py
  backend/core/models.py
  backend/core/signals.py
  backend/core/tasks.py
  backend/core/tests/test_image_triggers.py
  backend/core/tests/test_tasks.py
  backend/core/tests/test_webp_command.py
  backend/users/models.py
  backend/users/signals.py
  backend/users/tasks.py
  docker-compose.yml
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/Gallery.tsx
  frontend/src/components/common/ImageModal.tsx
  infra/nginx/legacy.TEMPLATE.conf
Due: prettier, eslint, backend-tests

fix(frontend): Align local shell delivery, language switching, and homepage rendering
  README.md
  backend/astrophotography/tests/test_serializers.py
  backend/astrophotography/tests/test_views.py
  backend/astrophotography/views.py
  backend/core/models.py
  backend/translation/services.py
  backend/translation/tests/test_translation_logic.py
  frontend/index.html
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/server/index.mjs
  frontend/server/views/bff.js
  frontend/src/App.tsx
  frontend/src/__tests__/HomePage.test.tsx
  frontend/src/__tests__/PrivacyPolicy.test.tsx
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/__tests__/i18n.server.test.ts
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/routes.ts
  frontend/src/api/services.ts
  frontend/src/components/Home.tsx
  frontend/src/components/PrivacyPolicy.tsx
  frontend/src/components/common/ImageWithFallback.tsx
  frontend/src/components/common/LanguageSwitcher.tsx
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useBackground.ts
  frontend/src/hooks/useLatestAstroImages.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useTravelHighlights.ts
  frontend/src/i18n.client.ts
  frontend/src/i18n.server.ts
  frontend/src/setupTests.ts
  frontend/src/styles/components/App.module.css
  frontend/vite.config.ts
  infra/nginx/static_server.conf
Due: prettier, eslint, backend-tests

codeQL fixes.
  backend/core/models.py
  frontend/jest.config.cjs
  frontend/server/index.mjs
  frontend/server/views/bff.js
  frontend/src/__tests__/bffRoutes.test.ts
Due: prettier, eslint, backend-tests

codeQL fixes.
  frontend/server/views/bff.d.ts
Due: prettier, eslint

codeQL fixes.
  backend/astrophotography/tests/test_serializers.py
  backend/core/models.py
  frontend/scripts/inject-static-metadata.mjs
  frontend/src/utils/html.ts
Due: prettier, eslint, backend-tests

codeQL fixes.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/html.ts
Due: prettier, eslint

[skip CI] version update
  VERSION
Due: none

chore(migrations): add missing help_text updates for original_image fields
  backend/users/migrations/0013_alter_user_about_me_image2_original_image_and_more.py
Due: backend-tests

fix(deploy/tests): resolve PROJECT_OWNER ssr injection and failing thumbnail tests
  backend/core/models.py
  docker-compose.prod.yml
  docker-compose.stage.yml
Due: backend-tests

Fixing background image load race condition.
  docker/frontend/Dockerfile
  frontend/src/components/Home.tsx
Due: prettier, eslint

updated health backend status
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  docker/backend/Dockerfile
Due: none

Added timezone to staging and prod
  docker-compose.prod.yml
  docker-compose.stage.yml
Due: none

Frontend Quality & Tests fixes
  frontend/src/__tests__/ImageModal.test.tsx
  frontend/src/hooks/useTags.ts
  frontend/src/i18n.client.ts
Due: prettier, eslint

[skip ci] Version update
  VERSION
Due: none

[skip ci] removed old documents and rewritten SSR implementation documents
  infra/docs/SSR Migration/STAGE-1_ssr_migration.md
  infra/docs/SSR Migration/STAGE-2_full_ssr_bff_migration_plan.md
  infra/docs/react_ssr_migration_plan.md
  infra/docs/ssr_migration_plan_antigravity.md
Due: none

Latest's images tags fix with not clearing cache when model landingpagesettings saves.
  README.md
  backend/core/signals.py
  infra/docs/cache_invalidation.md
  infra/docs/latest_images_tags.md
Due: backend-tests

fix(backend): Resolve cross-language tag filtering mismatch
  backend/astrophotography/services.py
  backend/astrophotography/tests/test_views.py
  backend/translation/services.py
  backend/translation/tests/test_translation_logic.py
Due: backend-tests

[skip ci] Version change
  VERSION
Due: none

fix(frontend): Harden SSR request handling and add server coverage
  backend/users/tests/test_axes.py
  frontend/server/index.mjs
  frontend/server/mediaNormalization.js
  frontend/server/ssrCache.js
  frontend/src/App.tsx
  frontend/src/__tests__/mediaNormalization.test.ts
  frontend/src/__tests__/ssrCache.test.ts
  frontend/src/api/services.ts
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  infra/nginx/static_server.conf
  package-lock.json
  package.json
Due: prettier, eslint, backend-tests

ref(frontend): Pin nginx and share language detection helper
  docker-compose.yml
  docker/nginx/Dockerfile
  frontend/jest.config.cjs
  frontend/server/index.mjs
  frontend/src/api/constants.ts
  frontend/src/i18n.server.ts
  frontend/src/shared/i18n/detectLanguage.ts
Due: prettier, eslint

ref(frontend): Split SSR server into focused runtime modules
  frontend/server/backendProxy.js
  frontend/server/documentRender.js
  frontend/server/index.mjs
  frontend/server/internalCacheRoute.js
  frontend/server/logging.js
  frontend/server/requestMeta.js
  frontend/server/requestValidation.js
  frontend/server/staticAssets.js
Due: prettier, eslint

ref(frontend): Introduce shared data transport for API services
  frontend/src/api/services.ts
  frontend/src/api/transport.ts
  frontend/src/hooks/useTravelHighlightDetail.ts
Due: prettier, eslint

build(security): Pin backend deps and harden vuln scanning
  .github/workflows/quality-checks.yml
  backend/poetry.lock
  backend/pyproject.toml
Due: backend-tests

feat(infra): Add production GHCR release flow
  .github/SECRETS.md
  .github/workflows/publish-images.yml
  docker-compose.prod.yml
  infra/scripts/README.md
  infra/scripts/release/prepare_images.sh
Due: none

feat(infra): Add production GHCR release flow
  README.md
  backend/README.md
  frontend/README.md
  frontend/src/components/common/SEO.tsx
  infra/docs/SSR Migration/STAGE-1_ssr_migration.md
  infra/docs/SSR Migration/STAGE-2_full_ssr_bff_migration_plan.md
  infra/docs/production-release/README.md
  infra/docs/release_deploy_architecture.md
  infra/scripts/monitoring/README.md
  infra/scripts/release/README.md
Due: prettier, eslint, backend-tests

ci/cd fixes
  frontend/server/mediaNormalization.js
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/__tests__/ssrCache.test.ts
  frontend/src/api/services.ts
  frontend/src/api/transport.ts
  frontend/src/entry-server.tsx
Due: prettier, eslint

npm audit fix
  frontend/package-lock.json
Due: prettier

Safety api key fix
  .github/workflows/quality-checks.yml
Due: none

Safety clean
  .gitignore
  .pre-commit-config.yaml
  backend/.safety-project.ini
  backend/poetry.lock
  backend/pyproject.toml
Due: backend-tests

ci.cd fixes
  .pre-commit-config.yaml
  backend/astrophotography/migrations/0011_place_is_region_place_sub_places_and_more.py
  backend/common/tests/image_helpers.py
  backend/common/tests/test_image_utils.py
  backend/core/tests/test_webp.py
  backend/monitoring/tests/test_models.py
  backend/users/tests/test_webp.py
Due: backend-tests

add environment for vars and secrets in registry job
  .github/workflows/publish-images.yml
Due: none

registry local testing
  .github/workflows/publish-images.yml
Due: none

ci-cd restructured
  .github/workflows/ci-cd.yml
  .github/workflows/publish-images.yml
  infra/docs/production-release/README.md
  infra/docs/release_deploy_architecture.md
Due: none
