Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer

  # Frontend hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, json, yaml, markdown]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

  # Backend hooks
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        files: ^backend/
        args:
          ["--settings-path", "backend/pyproject.toml", "--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config", "backend/pyproject.toml"]
        language_version: python3.13

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^backend/
        exclude: /migrations/
        args: ["--toml-config", "backend/pyproject.toml"]
        additional_dependencies: [flake8-pyproject]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "cd backend && poetry run mypy ."
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Security and Docker hooks - run manually when needed
  # detect-secrets scan --baseline .secrets.baseline
  # hadolint Dockerfile

  # Testing hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c "cd backend && poetry run pytest"
        language: system
        pass_filenames: false
        files: ^backend/
        always_run: false
        stages: [pre-commit]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c "cd frontend && npm test -- --watchAll=false"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

fix(seo): Align sitemap and SSR metadata with public routes
  AGENTS.md
  backend/astrophotography/admin.py
  backend/shop/forms.py
  backend/shop/templates/admin/shop/shopproduct/robust_change_form.html
  backend/shop/tests/test_admin.py
  frontend/README.md
  frontend/index.html
  frontend/server/documentRender.js
  frontend/src/__tests__/PrivacyPolicy.test.tsx
  frontend/src/__tests__/Programming.test.tsx
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/NotFoundPage.tsx
  frontend/src/components/PrivacyPolicy.tsx
  frontend/src/components/Programming.tsx
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/components/common/SEO.tsx
  frontend/src/routing/publicRoutes.ts
  frontend/src/utils/html.ts
  infra/docs/project/NEW/example.ts
Due: prettier, eslint, backend-tests

build(backend): Migrate Python tooling from Poetry to uv
  .dockerignore
  .github/workflows/ci-cd.yml
  AGENTS.md
  README.md
  backend/README.md
  backend/poetry.lock
  backend/pyproject.toml
  backend/uv.lock
  docker/backend/Dockerfile
  infra/docs/project/django_admin_image_cropper_mechanism.md
Due: backend-tests

Version Update
  VERSION
Due: none

Ci/CD fix
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

Migrate backend Python tooling from Poetry to uv
  .dockerignore
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  VERSION
  backend/README.md
  backend/poetry.lock
  backend/pyproject.toml
  backend/uv.lock
  docker/backend/Dockerfile
  infra/docs/project/django_admin_image_cropper_mechanism.md
Due: backend-tests

release v2.8.0 fixes
  VERSION
  frontend/src/App.tsx
  frontend/src/__tests__/FeatureRoutes.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/components/ProgrammingRoute.tsx
  frontend/src/components/ShopRoute.tsx
  frontend/src/entry-server.tsx
Due: prettier, eslint

Npm security fixes
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Restore SSR status handling for release deploys
  VERSION
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/FeatureRoutes.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/components/ProgrammingRoute.tsx
  frontend/src/components/ShopRoute.tsx
  frontend/src/entry-server.tsx
Due: prettier, eslint

ref(logging): Normalize stack logs to structured JSON
  AGENTS.md
  backend/common/middleware.py
  backend/common/utils/logging.py
  backend/settings/base.py
  frontend/server/index.mjs
  frontend/server/internalCacheRoute.js
  frontend/server/logging.js
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  frontend/src/i18n.client.ts
  infra/docs/project/logging_structure_overview.md
  infra/traefik/traefik.yml
Due: prettier, eslint, backend-tests

ci/cd fix
  backend/common/utils/logging.py
Due: backend-tests

Normalize stack logs to structured JSON
  AGENTS.md
  backend/common/middleware.py
  backend/common/utils/logging.py
  backend/settings/base.py
  frontend/server/index.mjs
  frontend/server/internalCacheRoute.js
  frontend/server/logging.js
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  frontend/src/i18n.client.ts
  infra/docs/project/logging_structure_overview.md
  infra/traefik/traefik.yml
Due: prettier, eslint, backend-tests

Version update
  VERSION
Due: none

ref(image-processing): Unify the shared workflow
  backend/astrophotography/models.py
  backend/common/image_processing.py
  backend/common/mixins.py
  backend/common/protocols.py
  backend/common/tests/test_image_processing.py
  backend/common/tests/test_image_specs.py
  backend/common/types.py
  backend/common/utils/image.py
  backend/core/management/commands/convert_images_to_webp.py
  backend/core/models.py
  backend/core/tasks.py
  backend/core/tests/test_image_triggers.py
  backend/core/tests/test_tasks.py
  backend/pyproject.toml
  backend/settings/base.py
  backend/shop/models.py
  backend/shop/tasks.py
  backend/shop/tests/test_tasks.py
  backend/users/models.py
  backend/users/tasks.py
  backend/users/tests/test_models.py
  backend/users/tests/test_tasks.py
  backend/users/tests/test_user_triggers.py
Due: backend-tests

feat(image-processing): Add BaseImage field migration and backfill
  backend/astrophotography/migrations/0017_baseimage_original_fields.py
  backend/common/image_processing.py
  backend/core/management/commands/backfill_baseimage_fields.py
  backend/core/models.py
  backend/core/tests/test_backfill_baseimage_fields.py
  backend/core/tests/test_baseimage_fields.py
  backend/programming/migrations/0008_baseimage_original_fields.py
  backend/scripts/release_entrypoint.py
  backend/scripts/tests/test_release_entrypoint.py
  infra/docs/project/logging_structure_overview.md
Due: backend-tests

Unify workflow and add BaseImage backfill
  backend/astrophotography/migrations/0017_baseimage_original_fields.py
  backend/astrophotography/models.py
  backend/common/image_processing.py
  backend/common/mixins.py
  backend/common/protocols.py
  backend/common/tests/test_image_processing.py
  backend/common/tests/test_image_specs.py
  backend/common/types.py
  backend/common/utils/image.py
  backend/core/management/commands/backfill_baseimage_fields.py
  backend/core/management/commands/convert_images_to_webp.py
  backend/core/models.py
  backend/core/tasks.py
  backend/core/tests/test_backfill_baseimage_fields.py
  backend/core/tests/test_baseimage_fields.py
  backend/core/tests/test_image_triggers.py
  backend/core/tests/test_tasks.py
  backend/programming/migrations/0008_baseimage_original_fields.py
  backend/pyproject.toml
  backend/scripts/release_entrypoint.py
  backend/scripts/tests/test_release_entrypoint.py
  backend/settings/base.py
  backend/shop/models.py
  backend/shop/tasks.py
  backend/shop/tests/test_tasks.py
  backend/users/models.py
  backend/users/tasks.py
  backend/users/tests/test_models.py
  backend/users/tests/test_tasks.py
  backend/users/tests/test_user_triggers.py
  infra/docs/project/logging_structure_overview.md
Due: backend-tests

ref(deploy): Harden frontend rollouts and quiet release noise
  AGENTS.md
  backend/common/llm/providers.py
  backend/common/llm/registry.py
  backend/core/management/commands/backfill_baseimage_fields.py
  backend/core/tests/test_backfill_baseimage_fields.py
  backend/scripts/release_entrypoint.py
  backend/scripts/tests/test_release_entrypoint.py
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  docker/frontend/Dockerfile
  frontend/package.json
  frontend/scripts/start-runtime.mjs
  frontend/server/index.mjs
  frontend/server/staticAssets.js
  frontend/src/entry-client.tsx
  frontend/src/utils/pwaRuntime.ts
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/vps_postgres_ssh_tunneling.md
Due: prettier, eslint, backend-tests

FE fix
  docker/frontend/Dockerfile
  frontend/scripts/start-runtime.mjs
Due: prettier, eslint

add runtime script
  docker/frontend/runtime-entrypoint.sh
Due: none

removed zodiacal fallback
  frontend/src/components/Shop.tsx
Due: prettier, eslint

Harden PWA rollouts and quiet release noise
  AGENTS.md
  backend/common/llm/providers.py
  backend/common/llm/registry.py
  backend/core/management/commands/backfill_baseimage_fields.py
  backend/core/tests/test_backfill_baseimage_fields.py
  backend/scripts/release_entrypoint.py
  backend/scripts/tests/test_release_entrypoint.py
  backend/settings/base.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  docker/frontend/Dockerfile
  docker/frontend/runtime-entrypoint.sh
  frontend/package.json
  frontend/scripts/start-runtime.mjs
  frontend/server/index.mjs
  frontend/server/staticAssets.js
  frontend/src/components/Shop.tsx
  frontend/src/entry-client.tsx
  frontend/src/utils/pwaRuntime.ts
  infra/docs/project/logging_structure_overview.md
  infra/docs/project/vps_postgres_ssh_tunneling.md
Due: prettier, eslint, backend-tests

fix(admin): Restore media widgets and runtime assets
  backend/astrophotography/admin.py
  backend/astrophotography/forms.py
  backend/astrophotography/templates/core/widgets/secure_admin_file_input.html
  backend/astrophotography/tests/test_admin.py
  backend/core/static/core/js/admin_base_site.js
  backend/core/templates/admin/change_list.html
  backend/core/widgets.py
  backend/settings/base.py
  docker/frontend/Dockerfile
  frontend/server/documentRender.js
  frontend/server/publicEnv.js
  frontend/src/setupTests.ts
  frontend/src/test-utils/publicEnv.mock.ts
  frontend/src/types/publicEnv.d.ts
  frontend/src/utils/env.ts
Due: prettier, eslint, backend-tests

fix(frontend): Improve astro 404 handling and image fallback UX
  docker-compose.traefik.yml
  docker-compose.yml
  docker/nginx/Dockerfile
  frontend/public/404.html
  frontend/server/index.mjs
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/ImageModal.test.tsx
  frontend/src/__tests__/ImageWithFallback.test.tsx
  frontend/src/__tests__/TravelHighlightsPage.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/NotFoundPage.tsx
  frontend/src/components/common/ImageModal.tsx
  frontend/src/components/common/ImageWithFallback.tsx
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useAstroImageDetail.ts
  frontend/src/styles/components/ImageModal.module.css
  frontend/src/styles/components/NotFoundPage.module.css
  frontend/src/styles/components/Programming.module.css
  infra/nginx/includes/error_pages.conf.template
  infra/nginx/legacy.TEMPLATE.conf
  infra/nginx/static_server.conf
Due: prettier, eslint

fix(monitoring): Clarify sitemap canonical mismatch summaries
  backend/monitoring/agent_assets/prompts/monitoring_sitemap_summary.md
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
Due: backend-tests

fix(astrophotography): Support crawlable page-param gallery slices
  backend/astrophotography/tests/test_views.py
  backend/core/sitemaps.py
  backend/core/tests/test_sitemaps.py
  backend/settings/urls.py
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/components/AstroGallery.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useAstroImages.ts
Due: prettier, eslint, backend-tests

feat(astrophotography): Add batch astro image seed command
  backend/astrophotography/management/commands/create_astroimages_batch.py
  backend/astrophotography/tests/test_commands.py
Due: backend-tests

ci(workflows): Move reusable landingpage CI to shared workflows
  .github/workflows/branch-protection.yml
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/version-check.yml
  .pre-commit-config.yaml
  infra/docs/deployment-architecture-schema.png
Due: none

ci(workflows): Split shared quality and test workflows by runtime
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  backend/settings/tests.py
Due: backend-tests

fixed env variables
  .github/workflows/ci-cd.yml
Due: none

PROJECT_OWNER missing fix
  .github/workflows/ci-cd.yml
Due: none

env fix
  .github/workflows/ci-cd.yml
Due: none

security fix. Updated django and pillow libraries.
  backend/pyproject.toml
  backend/uv.lock
Due: backend-tests

fix(astrophotography): Restore gallery order and modal scroll position
  backend/astrophotography/models.py
  backend/astrophotography/tests/test_views.py
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/components/AstroGallery.tsx
Due: prettier, eslint, backend-tests

ci/cd release image job fix
  VERSION
Due: none

ci/cd release image job fix (#170)
  VERSION
Due: none

ref(images): Finish BaseImage contract cleanup
  backend/astrophotography/forms.py
  backend/astrophotography/management/commands/create_astroimages_batch.py
  backend/astrophotography/migrations/0019_remove_baseimage_legacy_fields.py
  backend/astrophotography/models.py
  backend/astrophotography/tests/factories.py
  backend/astrophotography/tests/test_admin.py
  backend/astrophotography/tests/test_commands.py
  backend/astrophotography/tests/test_models.py
  backend/common/utils/image.py
  backend/core/management/commands/backfill_baseimage_fields.py
  backend/core/models.py
  backend/core/tests/test_backfill_baseimage_fields.py
  backend/core/tests/test_baseimage_fields.py
  backend/core/tests/test_webp_command.py
  backend/programming/admin.py
  backend/programming/migrations/0010_remove_projectimage_legacy_fields.py
  backend/scripts/release_entrypoint.py
  backend/scripts/tests/test_release_entrypoint.py
Due: backend-tests

fix(infra): Prepare landingpage for MCP routing
  VERSION
  backend/core/sitemaps.py
  backend/core/tests/test_sitemaps.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  infra/scripts/README.md
  infra/traefik/dynamic_conf.yml
Due: backend-tests
