Repository LukaszRemkowicz/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, backend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer

  # Frontend hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, css, json, yaml, markdown]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint --prefix frontend
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

  # Backend hooks
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        files: ^backend/
        args:
          ["--settings-path", "backend/pyproject.toml", "--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        args: ["--config", "backend/pyproject.toml"]
        language_version: python3.13

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        files: ^backend/
        exclude: /migrations/
        args: ["--toml-config", "backend/pyproject.toml"]
        additional_dependencies: [flake8-pyproject]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "cd backend && poetry run mypy ."
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Security and Docker hooks - run manually when needed
  # detect-secrets scan --baseline .secrets.baseline
  # hadolint Dockerfile

  # Testing hooks
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c "cd backend && poetry run pytest"
        language: system
        pass_filenames: false
        files: ^backend/
        always_run: false
        stages: [pre-commit]

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c "cd frontend && npm test -- --watchAll=false"
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

Fix/fixing prod infra (#115)
  VERSION
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker/backend/Dockerfile
  frontend/nginx.conf
  scripts/release/build.sh
  scripts/release/deploy.sh
  scripts/release/release.sh
Due: none

Frontend seo changes with image urls. Add dynamic sitemap.
  backend/astrophotography/models.py
  backend/astrophotography/serializers.py
  backend/core/sitemaps.py
  backend/settings/base.py
  backend/settings/urls.py
  frontend/public/robots.txt
  frontend/src/App.tsx
  frontend/src/__tests__/AstroGallery.test.tsx
  frontend/src/__tests__/Gallery.test.tsx
  frontend/src/components/AstroGallery.tsx
  frontend/src/components/Gallery.tsx
  nginx/TEMPLATE.conf
  scripts/release/deploy.sh
Due: prettier, eslint, backend-tests

perf(images): Add WebP conversion pipeline and Nginx optimization
  backend/astrophotography/migrations/0012_astroimage_legacy_path_and_more.py
  backend/astrophotography/models.py
  backend/astrophotography/serializers.py
  backend/common/tests/test_image_utils.py
  backend/common/utils/image.py
  backend/core/admin.py
  backend/core/management/commands/convert_images_to_webp.py
  backend/core/migrations/0002_landingpagesettings_serve_webp_images.py
  backend/core/models.py
  backend/core/tests/test_webp.py
  backend/programming/migrations/0004_projectimage_legacy_path.py
  backend/programming/models.py
  backend/users/migrations/0010_user_about_me_image2_legacy_and_more.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/tests/test_views.py
  backend/users/tests/test_webp.py
  docker-compose.prod.yml
  docker-compose.yml
  docker/nginx/Dockerfile
  frontend/index.html
  frontend/public/fonts/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2
  frontend/public/fonts/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2
  frontend/public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2
  frontend/public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2
  frontend/public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2
  frontend/public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2
  frontend/public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2
  frontend/public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2
  frontend/public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2
  frontend/public/fonts/V8mDoQDjQSkFtoMM3T6r8E7mPb54C_k3HqUtEw.woff2
  frontend/public/fonts/V8mDoQDjQSkFtoMM3T6r8E7mPb94C_k3HqUtEw.woff2
  frontend/public/fonts/V8mDoQDjQSkFtoMM3T6r8E7mPbF4C_k3HqU.woff2
  frontend/public/fonts/fonts.css
  frontend/public/landscape.webp
  frontend/src/components/common/ImageWithFallback.tsx
  frontend/vite.config.ts
  nginx/TEMPLATE.conf
Due: prettier, eslint, backend-tests

feat(infra): Enable HTTP/3 support and harden deployment pipeline
  backend/astrophotography/migrations/0013_alter_astroimage_legacy_path_and_more.py
  backend/common/tests/image_helpers.py
  backend/common/tests/test_image_utils.py
  backend/core/management/commands/convert_images_to_webp.py
  backend/core/migrations/0003_alter_landingpagesettings_serve_webp_images.py
  backend/core/tests/test_webp.py
  backend/core/tests/test_webp_command.py
  backend/programming/migrations/0005_alter_projectimage_legacy_path.py
  backend/users/migrations/0011_alter_user_about_me_image2_legacy_and_more.py
  backend/users/tests/test_webp.py
  docker-compose.prod.yml
  frontend/nginx.conf
  nginx/TEMPLATE.conf
  scripts/release/deploy.sh
Due: backend-tests

feat(perf): Implement JS Code Splitting (Stage 5)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/src/App.tsx
  frontend/src/i18n.ts
  frontend/src/index.tsx
Due: prettier, eslint

feat(images): Centralize optimization specs and implement premium fade
  backend/astrophotography/tests/test_models.py
  backend/common/tests/test_image_specs.py
  backend/common/utils/image.py
  backend/core/management/commands/convert_images_to_webp.py
  backend/core/models.py
  backend/settings/base.py
  backend/users/models.py
  backend/users/tasks.py
  backend/users/tests/test_models.py
  docker-compose.prod.yml
  docker/frontend/Dockerfile
  docker/frontend/entrypoint.sh
  frontend/index.html
  frontend/legacy.nginx.conf
  frontend/public/landscape.png
  frontend/public/landscape.webp
  frontend/public/portrait_default.png
  frontend/src/HomePage.tsx
  frontend/src/api/routes.ts
  frontend/src/components/About.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/common/CookieConsent.tsx
  frontend/src/index.tsx
  frontend/src/styles/components/App.module.css
  frontend/vite.config.ts
  nginx/TEMPLATE.conf
  nginx/includes/error_pages.conf.template
Due: prettier, eslint, backend-tests

perf: Optimize page load experience and critical rendering path
  docker/frontend/entrypoint.sh
  frontend/index.html
  frontend/public/landscape.webp
  frontend/src/HomePage.tsx
  frontend/src/__tests__/AnalyticsIntegration.test.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/ShootingStars.tsx
  frontend/src/components/common/LoadingScreen.tsx
  frontend/src/hooks/useGoogleAnalytics.ts
  frontend/src/index.tsx
  frontend/src/styles/components/About.module.css
  frontend/src/styles/components/App.module.css
  frontend/src/styles/components/CelestialWidget.module.css
  frontend/src/styles/components/Contact.module.css
  frontend/src/styles/components/ExperienceStats.module.css
  frontend/src/styles/components/Footer.module.css
  frontend/src/styles/components/LoadingScreen.module.css
  frontend/src/styles/components/Logo.module.css
  frontend/vite.config.ts
  nginx/TEMPLATE.conf
Due: prettier, eslint

feat(nginx): Externalize frontend routing logic and improve sync UI
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  frontend/.env.example
  frontend/src/styles/components/App.module.css
  nginx/TEMPLATE.conf
Due: prettier

collect-logs fix
  scripts/monitoring/collect-logs.sh
Due: none

Security & Quality: - Fix CodeQL side-effects in backend image tests - Fix CodeQL regex escape sequence in Vite configuration
  backend/common/tests/test_image_utils.py
  frontend/vite.config.ts
Due: prettier, eslint, backend-tests

npm audit fix
  frontend/package-lock.json
Due: prettier

[skip ci] Version update
  VERSION
Due: none

fix(infra): stabilize Traefik deployment and prod/stage rollout
  VERSION
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.traefik.yml
  infra/docs/traefik_production_deployment.md
  infra/nginx/TEMPLATE.conf
  infra/nginx/static_server.conf
  infra/scripts/README.md
  infra/scripts/db_backup/backup_db.sh
  infra/scripts/db_backup/restore_db.sh
  infra/scripts/db_backup/test_restore.sh
  infra/scripts/release/README.md
  infra/scripts/release/build.sh
  infra/scripts/release/deploy.sh
  infra/scripts/release/release.sh
  infra/traefik/dynamic_conf.yml
Due: none

fix(infra): stabilize Traefik deployment and prod/stage rollout (#121)
  VERSION
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.traefik.yml
  infra/docs/traefik_production_deployment.md
  infra/nginx/TEMPLATE.conf
  infra/nginx/static_server.conf
  infra/scripts/README.md
  infra/scripts/db_backup/backup_db.sh
  infra/scripts/db_backup/restore_db.sh
  infra/scripts/db_backup/test_restore.sh
  infra/scripts/release/README.md
  infra/scripts/release/build.sh
  infra/scripts/release/deploy.sh
  infra/scripts/release/release.sh
  infra/traefik/dynamic_conf.yml
Due: none

fix(infra): harden Traefik staging deploy checks and runtime config
  VERSION
  docker-compose.traefik.yml
  docker/traefik/Dockerfile
  infra/scripts/release/deploy.sh
Due: none

Replaced hardcoded name and last name to __PROJECT_OWNER__ variable.
  frontend/e2e/homepage.spec.ts
  frontend/index.html
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/public/manifest.json
  frontend/scripts/inject-metadata.sh
  frontend/src/__tests__/Footer.test.tsx
  frontend/src/__tests__/Navbar.test.tsx
  frontend/src/components/common/Logo.tsx
  frontend/src/components/common/SEO.tsx
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Due: prettier, eslint

Fixed ci/cd tests
  frontend/src/components/common/Logo.tsx
  frontend/src/components/common/SEO.tsx
  infra/docs/ssr_migration_plan_antigravity.md
  infra/docs/traefik_production_deployment.md
Due: prettier, eslint

fix(infra): Treafik deployment fixes
  VERSION
  docker-compose.traefik.yml
  docker/traefik/Dockerfile
  frontend/e2e/homepage.spec.ts
  frontend/index.html
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/public/manifest.json
  frontend/scripts/inject-metadata.sh
  frontend/src/__tests__/Footer.test.tsx
  frontend/src/__tests__/Navbar.test.tsx
  frontend/src/components/common/Logo.tsx
  frontend/src/components/common/SEO.tsx
  frontend/src/setupTests.ts
  frontend/vite.config.ts
  infra/docs/ssr_migration_plan_antigravity.md
  infra/docs/traefik_production_deployment.md
  infra/scripts/release/deploy.sh
Due: prettier, eslint

refactor(frontend): complete phase 0 SSR readiness prep
  docker/frontend/Dockerfile
  frontend/docs/ssr-client-only-boundaries.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/ssr-smoke-test.ts
  frontend/src/api/api.ts
  frontend/src/api/constants.ts
  frontend/src/i18n.client.ts
  frontend/src/i18n.server.ts
  frontend/src/i18n.ts
  frontend/src/index.tsx
  frontend/src/utils/analytics.ts
  frontend/src/utils/env.shared.ts
  frontend/src/utils/initClientServices.ts
  infra/docs/ssr_migration_final_assessment.md
Due: prettier, eslint

refactor(frontend): complete phase 1 SSR entrypoint split
  frontend/package.json
  frontend/scripts/ssr-smoke-test.ts
  frontend/src/App.tsx
  frontend/src/AppShell.tsx
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  frontend/src/index.tsx
  frontend/src/utils/analytics.ts
  frontend/vite.config.ts
Due: prettier, eslint

feat(frontend): implement phase 2 SSR runtime and infra wiring
  .pre-commit-config.yaml
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker/frontend/Dockerfile
  frontend/package.json
  frontend/scripts/ssr-smoke-test.ts
  frontend/server/index.mjs
  frontend/src/AppShell.tsx
  frontend/vite.config.ts
  infra/nginx/static_server.conf
Due: prettier, eslint

feat(frontend): complete phase 3 SSR data prefetch and hydration
  frontend/server/index.mjs
  frontend/src/AppShell.tsx
  frontend/src/__tests__/hooks/useQueryHooks.test.tsx
  frontend/src/api/api.ts
  frontend/src/api/services.ts
  frontend/src/entry-client.tsx
  frontend/src/entry-server.tsx
  frontend/src/hooks/useBackground.ts
  frontend/src/hooks/useCategories.ts
  frontend/src/hooks/useLatestAstroImages.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useSettings.ts
  frontend/src/hooks/useTravelHighlightDetail.ts
  frontend/src/hooks/useTravelHighlights.ts
Due: prettier, eslint

feat(frontend): complete phase 4 SSR metadata and request-aware i18n
  docker-compose.yml
  frontend/index.html
  frontend/public/locales/en/translation.json
  frontend/public/locales/pl/translation.json
  frontend/server/index.mjs
  frontend/src/AppShell.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/common/SEO.tsx
  frontend/src/context/RequestOriginContext.tsx
  frontend/src/entry-server.tsx
  frontend/src/i18n.client.ts
  frontend/src/utils/html.ts
  infra/nginx/static_server.conf
Due: prettier, eslint

feat(frontend): complete phase 5 client-only SSR boundaries
  frontend/server/index.mjs
  frontend/src/App.tsx
  frontend/src/components/StarBackground.tsx
  frontend/src/components/common/ClientDocumentGuards.tsx
  frontend/src/components/common/ClientOnly.tsx
Due: prettier, eslint

feat(frontend): complete phase 6 SSR streaming and performance tuning
  frontend/server/index.mjs
  frontend/src/App.tsx
  frontend/src/entry-server.tsx
  infra/nginx/static_server.conf
Due: prettier, eslint

feat(frontend): start full SSR BFF migration for read flows
  frontend/server/index.mjs
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/routes.ts
  frontend/src/api/services.ts
  frontend/src/entry-server.tsx
  frontend/src/hooks/useBackground.ts
  frontend/src/hooks/useLatestAstroImages.ts
  frontend/src/hooks/useProfile.ts
  frontend/src/hooks/useSettings.ts
  frontend/src/hooks/useTravelHighlightDetail.ts
  frontend/src/hooks/useTravelHighlights.ts
  infra/docs/full_ssr_bff_migration_plan.md
Due: prettier, eslint

feat(frontend): move contact form submission behind SSR BFF
  frontend/server/index.mjs
  frontend/src/AppShell.tsx
  frontend/src/api/__tests__/services.test.ts
  frontend/src/api/routes.ts
  frontend/src/api/services.ts
  frontend/src/components/common/CookieConsent.module.css
  frontend/src/components/common/CookieConsent.tsx
  frontend/src/styles/components/TravelHighlightsPage.module.css
  infra/docs/full_ssr_bff_migration_plan.md
Due: prettier, eslint

feat(frontend): complete phase 4 media routing for SSR BFF
  frontend/server/index.mjs
  frontend/src/api/__tests__/imageUrlService.test.ts
  frontend/src/api/api.ts
  frontend/src/api/imageUrlService.ts
  frontend/src/api/routes.ts
  frontend/src/components/TravelHighlights.tsx
  frontend/src/entry-server.tsx
  infra/docs/full_ssr_bff_migration_plan.md
Due: prettier, eslint

refactor(frontend): centralize BFF transport and media normalization
  frontend/src/__tests__/TravelHighlightsPage.test.tsx
  frontend/src/api/__tests__/imageUrlService.test.ts
  frontend/src/api/bff.ts
  frontend/src/api/imageUrlService.ts
  frontend/src/api/media.ts
  frontend/src/api/routes.ts
  frontend/src/api/services.ts
  frontend/src/components/TravelHighlightsPage.tsx
  frontend/src/hooks/useTravelHighlightDetail.ts
  infra/docs/full_ssr_bff_migration_plan.md
Due: prettier, eslint

feat(infra): route public app traffic through site domain and lock down backend exposure
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  frontend/src/__tests__/ApiConfig.test.ts
  frontend/src/api/constants.ts
  frontend/src/api/media.ts
  frontend/src/service-worker.ts
  infra/docs/full_ssr_bff_migration_plan.md
  infra/nginx/TEMPLATE.conf
  infra/nginx/static_server.conf
Due: prettier, eslint

feat(monitoring): add request correlation and collect frontend SSR logs
  backend/common/middleware.py
  backend/monitoring/agent/agent.py
  backend/monitoring/services.py
  backend/monitoring/tests/test_services.py
  backend/monitoring/tests/test_tasks.py
  backend/settings/base.py
  frontend/server/index.mjs
  frontend/src/api/api.ts
  frontend/src/entry-server.tsx
  infra/docs/full_ssr_bff_migration_plan.md
  infra/scripts/monitoring/README.md
  infra/scripts/monitoring/collect-logs.sh
Due: prettier, eslint, backend-tests

feat(ssr): add FE shell cache invalidation and align docs with Compose-first SSR architecture
  README.md
  backend/README.md
  backend/astrophotography/signals.py
  backend/common/ssr_cache.py
  backend/core/apps.py
  backend/core/signals.py
  backend/settings/base.py
  backend/users/signals.py
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
  frontend/README.md
  frontend/index.html
  frontend/server/index.mjs
  frontend/server/ssrCache.d.ts
  frontend/server/ssrCache.js
  frontend/server/views/bff.d.ts
  frontend/server/views/bff.js
  frontend/server/views/shell.d.ts
  frontend/server/views/shell.js
  frontend/src/entry-server.tsx
  infra/docs/full_ssr_bff_migration_plan.md
Due: prettier, eslint, backend-tests

SSR cleanup.
  .pre-commit-config.yaml
  README.md
  backend/README.md
  backend/astrophotography/management/commands/fix_parler_language_codes.py
  backend/astrophotography/management/commands/seed_regions.py
  backend/astrophotography/signals.py
  backend/astrophotography/tests/test_commands.py
  backend/common/middleware.py
  backend/common/ssr_cache.py
  backend/core/management/commands/clear_cache.py
  backend/core/management/commands/convert_images_to_webp.py
  backend/core/management/commands/regenerate_thumbnails.py
  backend/core/management/commands/seed_settings.py
  backend/core/tests/test_commands.py
  frontend/README.md
  frontend/server/index.mjs
  frontend/server/publicEnv.js
  frontend/server/ssrCache.js
  frontend/server/views/bff.d.ts
  frontend/server/views/bff.js
  frontend/server/views/shell.js
  frontend/src/__tests__/entry-server.test.tsx
  frontend/src/api/api.ts
  frontend/src/api/bff.ts
  frontend/src/api/constants.ts
  frontend/src/api/imageUrlService.ts
  frontend/src/api/media.ts
  frontend/src/api/routes.ts
  frontend/src/api/services.ts
  frontend/src/setupTests.ts
  infra/nginx/TEMPLATE.conf
Due: prettier, eslint, backend-tests

Readme update
  README.md
  backend/README.md
  frontend/README.md
  infra/scripts/README.md
  infra/scripts/monitoring/README.md
  infra/scripts/release/README.md
Due: prettier, backend-tests
